[2019-06-25 17:00] chuckha opened #1 "Set up scaffolding"
We need to create a `KubeadmBootstrapConfig` crd and a controller that watches for that type.

Please see these links for reference:

* https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20190610-machine-states-preboot-bootstrapping.md#sequence-diagram-user-creates-a-machine-with-kubeadm-bootstrapper
* https://github.com/kubernetes-sigs/cluster-api/pull/1051/files#diff-8d9b6

[2019-06-25 17:01] chuckha opened #2 "Set up automated tests"
Get the normal hack/ scripts in place and set them up in prow

[2019-06-25 17:02] chuckha commented on #2
I think this is a very clean implementation of what I'm talking about: https://github.com/kubernetes-sigs/cluster-api-provider-docker/tree/master/hack

[2019-06-25 21:38] chuckha commented on #1
Giving this a stab

/lifecycle active

[2019-06-26 15:59] chuckha commented on #1
still working on this in the background, but not like, actively. so anyone can feel free to jump on this one

/remove-lifecycle active

[2019-06-27 17:45] neolit123 commented on #2
/assign
/priority important-soon
/kind feature
/lifecycle active

[2019-06-27 17:53] vincepri commented on #2
As part of this work, can we use go modules given that this targets v1alpha2?

[2019-06-27 17:56] neolit123 commented on #2
yes, certainly.
the CI will need to manage a go deps test, so i'm going to add some placeholders as a start.

[2019-06-28 01:17] neolit123 commented on #2
/remove-lifecycle active.
will leave open if something else is needed.

[2019-06-28 01:17] neolit123 commented on #2
/remove-lifecycle active

[2019-07-01 16:11] chuckha commented on #2
/close

thanks for fixing this! it's all working

[2019-07-01 16:11] #2 closed

[2019-07-01 16:12] chuckha commented on #1
The start was #5

[2019-07-01 21:01] chuckha opened #6 "Improve description"
I propose

Timeout: 1 week

[2019-07-02 22:54] amy opened #9 "fetch external kubebuilder binaries"
When running tests for this PR: https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/pull/7
I get this error: `"error": "fork/exec /usr/local/kubebuilder/bin/etcd: no such file or directory"`

We need to fetch kubebuilder binaries like done for cluster-api: https://github.com/kubernetes-sigs/cluster-api/blob/master/scripts/ci-test.sh#L26

[2019-07-02 22:59] neolit123 commented on #9
i'd say scope the fetch to `verify-gotest`.

[2019-07-03 07:59] moshloop opened #11 "Define supported combinations"
We should define what combinations of OS / K8S / CRI / Cloud this provider will support, perhaps breaking it down into 3 categories:

1. Supported with E2E test
2. Known to work
3. Unsupported / Known not to work

**Operating Systems:**
* [x] Ubuntu 18.04
* [ ] Ubuntu 16.04
* [x] CentOS 7.2
* [ ]  Amazon Linux 2
* [ ] RHEL 7.4
* [ ] RHEL 7.5
* [ ] RHEL 8
* [ ] RHEL Atomic
* [ ] CoreOS
* [ ] Debian

[2019-07-03 08:00] moshloop opened #12 "Create E2E test framework"

[2019-07-03 08:00] moshloop opened #13 "Create E2E Test Matrix"
Depends on #11

[2019-07-03 08:19] moshloop opened #14 "Certificate management using cert-manager"
While perhaps not for a 0.1 release (or even for this provider?), we should look at implementing certificate management as a first-class citizen.

Storing certs in the spec is bad, storing certs in secrets is better, using a CA to manage certs is best.

Ideally, there is a full PKI hierarchy with a single root CA with intermediary CA's per Cluster/Node.

This would have the following characteristi

[2019-07-03 13:37] neolit123 commented on #12
please outline the details on how this framework will be implemented.

[2019-07-03 14:25] chuckha commented on #11
This doesn't feel like the right repository for this. This feels like it should go in infrastructure providers.

This bootstrap provider will be providing a script for the machine controller to do something with. Our support matrix should be the same as kubeadm with any other details left up to the machine controller.

Can you tell me how you're thinking about this and why you created this issue i

[2019-07-03 15:54] moshloop commented on #11
The cloud-init or bash that is returned by this provider is going to have some underlying assumptions/requirements - you can't just hand-off a script and expect it to work in every scenario. The scenario's under which it will work form the supported combinations.

For example:

* CoreOS prefers ignition, so cloud-init may not work or may require tweaking
* Is the cloud-init expected to work off a

[2019-07-03 16:26] #1 closed

[2019-07-03 16:44] amy commented on #9
/close

[2019-07-03 16:44] #9 closed

[2019-07-04 08:41] sethp-nr commented on #11
Those are very good points. As someone interested in adapting the bootstrap flow to CoreOS, I can guarantee that the current cloud-init won't work (CoreOS has a ground-up reimplementation of cloud-init in golang, so it's not possible to add python modules like `kubeadm` to it), and pre-installing dependencies is sort of... awkward, to say the least. And don't get me started on networking 😄

That s

[2019-07-04 09:20] moshloop commented on #11
The support matrix doesn't need to be final, but I do think it is imported to define the goals and non-goals, If the plan is to support CoreOS at some point it has implications on the design. Same applies to baked images vs vanilla

[2019-07-04 16:19] neolit123 commented on #11
@moshloop
you are asking for something that the k8s ecosystem is struggling to define and it's unlikely to happen in this project.

kubeadm does not have a support matrix for distros and it will never have one...
i don't think this provider should either.

if your distro/'image/machine does not work with kubeadm or wrapper scripts, it's up to you to fix it and if
you can't you should just move to

[2019-07-04 16:55] moshloop commented on #11
@neolit123 thanks - this is really good feedback.

I am not by any means saying we should support all of these combinations, just that these are the potential dimensions in which combinations could come from.

 I would suggest we just break these down into:
1) 0.1
2) 0.1+ or 1.0+
3) 2.0 or Never

I agree, those are the same arguments I would have for CAPA / CAPV to switch from containerd to docker

[2019-07-04 17:19] yastij commented on #11
ref kubernetes/kubernetes#79366

[2019-07-09 19:45] chuckha opened #15 "Create schema for KubeadmConfig object"
/kind feature

**Describe the solution you'd like**
For now we are following the agreed upon spec from https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20190610-machine-states-preboot-bootstrapping.md#sequence-diagram-user-creates-a-machine-with-kubeadm-bootstrapper.

The KubeadmConfig needs to be filled out.

/cc @amy @rudoi

**Anything else you would like to add:**

[2019-07-09 19:47] neolit123 commented on #15
please assign @fabriziopandini for review once there are PRs out there.
thanks.

[2019-07-09 19:50] chuckha opened #16 "Implement the controller logic for cloud-init output"
/kind feature

**Describe the solution you'd like**
The output of this can be deduced from this paragraph in the cluster api proposal:

This means cloud-init is the first output. This does NOT mean cloud-init is the only output but it's a good way for us to get started.

**Anything else you would like to add:**

[2019-07-09 19:57] chuckha commented on #15
/assign @amy

[2019-07-10 03:04] amy commented on #16
Lets split this up in 2 parts:

- [ ] Controller Logic
- [ ] Generating cloud-init configuration

We can use this issue to just track the progress of the controller logic part.

[2019-07-10 03:05] amy opened #18 "Cloud-init script generation"
This is split off from #16. We need a stand-alone or existing library that will generate cloud-init scripts for this provider.

[2019-07-10 03:06] amy commented on #18
/kind feature

[2019-07-10 03:06] amy commented on #6
Lol. Lets use this to track overall development of the README documentation.

/kind documentation

[2019-07-10 12:51] chuckha commented on #6
That's too vague. I've seen those tickets I've on basically forever. I'll open a new one to track an initial readme implementation.

/close

[2019-07-10 12:51] #6 closed

[2019-07-10 12:52] chuckha opened #19 "Initial README"
/kind documentation

**Describe the solution you'd like**
Add something to the README. Keep it short and informative. Do not use many words. Consider commenting on this issue about ideas for future documentation that we might keep in a docs directory.

/cc @amy

[2019-07-10 12:56] chuckha commented on #18
We can consider moving the existing code from CAPA to here that does this already

[2019-07-10 13:27] moshloop commented on #18
I think while templates work, they are not ideal in the long term as evidenced by the kops migration away from templates to structs.

There are golang structs for cloud-init that could be copied and pasted from here: https://github.com/moshloop/konfigadm/blob/master/pkg/cloud-init/types.go

Another option is to import konfigadm as whole as it will enable other functionality such as embedding arbit

[2019-07-10 13:33] chuckha commented on #18
Agreed, templates are definitely not ideal in the long term. I think they are a fine place to start and as the project expands and we determine the scope more clearly we can talk about alternative methods such as konfigadm. That being said, this library (bootstrap-provider-kubeadm) should be built so that changing out the script generation library is not painful.

[2019-07-10 14:28] amy commented on #16
/lifecycle active

[2019-07-10 14:36] rudoi commented on #18
I think starting with what we have now in CAPA and refining makes the most sense to me, though I agree structs are the future. I'll take a swing at this. 😄

/assign
/lifecycle active

[2019-07-10 18:00] amy commented on #15
/close addressed by: https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/pull/17

[2019-07-10 18:25] ncdc commented on #15
/close

[2019-07-10 18:25] #15 closed

[2019-07-10 19:14] ashish-amarnath commented on #14
/assign

[2019-07-10 19:30] chuckha commented on #16
/assign @amy

[2019-07-10 19:41] amy commented on #19
On my radar, but it's cool if someone gets to this before me!

[2019-07-10 19:48] chuckha commented on #19
/milestone v0.1

[2019-07-10 20:02] detiber commented on #19
@chuckha looks like you need to configure the repo_milestone prow plugin for the repo here: https://github.com/kubernetes/test-infra/blob/973a6e61255a7a94ae6023c6802610f23b2a82a4/prow/plugins.yaml#L239

[2019-07-11 13:20] chuckha commented on #19
/milestone v0.1

[2019-07-11 13:21] chuckha commented on #18
/milestone v0.1

[2019-07-11 21:37] neolit123 opened #23 "verify-boilerplate does not tolerate copyright lines without year"
/kind bug
/assign

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

copyright lines in generated files (created by the k8s code-gen) tools don't have years.
this makes the verify boilerplate check fail.

support copyright lines without year for autogenerated files.

https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/pull/2

[2019-07-11 21:42] ashish-amarnath commented on #23
/assign
/lifecycycle active

[2019-07-11 21:48] neolit123 commented on #23
/unassign

[2019-07-11 21:49] neolit123 commented on #23
/lifecycle active

[2019-07-11 23:06] vincepri commented on #23
We should move to the same utilities we have upstream https://github.com/kubernetes-sigs/cluster-api/blob/master/hack/verify-boilerplate.sh https://github.com/kubernetes-sigs/cluster-api/tree/master/hack/boilerplate which are copied from k/k :D

[2019-07-11 23:09] ashish-amarnath commented on #23
I had the same idea. I’ll replace the go code w/ the python script from k/k

On Thu, Jul 11, 2019 at 4:06 PM Vince Prignano <notifications@github.com>
wrote:

[2019-07-12 00:04] neolit123 commented on #23
i guess it's fine to match cap* repos to use the same boilerplate code.
probably someone did not understand go and wrote it in python.

i will keep this in kinder and possibly etcdadm.

[2019-07-12 17:11] chuckha commented on #16
/assign

[2019-07-12 17:11] chuckha commented on #16
/milestone v0.1

[2019-07-12 17:11] chuckha commented on #14
/milestone Next

[2019-07-12 17:11] chuckha commented on #13
/milestone Next

[2019-07-12 17:12] chuckha commented on #12
/milestone Next
/priority awaiting-more-evidence

[2019-07-12 17:12] chuckha commented on #11
/milestone next

[2019-07-12 17:12] chuckha commented on #11
/milestone Next

[2019-07-12 17:12] chuckha commented on #23
/milestone v0.1

[2019-07-12 19:57] #18 closed

[2019-07-15 16:04] chuckha opened #27 "implement a machine watch to trigger a config reconcile"
/kind feature

**Describe the solution you'd like**
As part of #16 we will have to watch machine objects and trigger the associated config object to get reconciled. This is using kubebuilder's MapFn feature.

/assign @amy
/lifecycle active

**Anything else you would like to add:**
We do something similar in CAPI here: https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/controller/machin

[2019-07-15 17:54] vincepri commented on #27
It'd be great to add this upstream, like https://github.com/kubernetes-sigs/cluster-api/pull/1153. It has the benefit that the mapping functions can be shared between all providers

[2019-07-15 19:08] chuckha commented on #27
That sounds reasonable to me! thanks for the PR link.

[2019-07-15 23:24] vincepri opened #29 "Move control plane locker from CAPA"
/kind feature

**Describe the solution you'd like**
The [ControlPlaneInitLocker](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/release-0.3/pkg/cloud/aws/actuators/machine/control_plane_init_locker.go) has been merged into CAPA to prevent races to spin up multiple control plane nodes in the same cluster, we should port this functionality to the kubeadm bootstrap controller logic

[2019-07-17 01:39] SataQiu commented on #29
/assign

[2019-07-17 08:49] fabriziopandini commented on #19
/assign

[2019-07-17 08:51] fabriziopandini commented on #19
ideas for docs directory:
- getting started guide for local development
- doc about cloud-init generation principles (e.g. cloud/os agnostic, file injection, template structure)

[2019-07-17 14:19] chuckha opened #35 "verify-all is exiting 0 when one or more verification script is failing"
/kind bug

**What steps did you take and what happened:**
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-bootstrap-provider-kubeadm/33/pull-cluster-api-bootstrap-provider-kubeadm-verify/1151447199930912768/build-log.txt

This run has failing validations but results in `All verify checks pass!". How could this happen?

**What did you expect to happen:**
I

[2019-07-17 14:20] chuckha commented on #35
/priority important-soon

[2019-07-17 14:34] ashish-amarnath commented on #35
/assign

On Wed, Jul 17, 2019 at 7:20 AM Chuck Ha <notifications@github.com> wrote:

[2019-07-17 14:34] ashish-amarnath commented on #35
/lifecycle active

On Wed, Jul 17, 2019 at 7:34 AM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2019-07-17 17:02] chuckha opened #37 "Port Phase to new Ready bool field"
/kind feature

**Describe the solution you'd like**
Phase, because it only contains one value, is being ported over to a bool field.

/lifecycle active
/assign

[2019-07-17 17:09] ashish-amarnath commented on #29
/lifecycle active

[2019-07-17 17:31] neolit123 commented on #35
expected: ""
got: "Licensed under the Apache License, Version 2.0 (the \"License\");"

seems there are licensing problems. why is this file licenses in such a way?

you can just try the Python boilerplate at this point, but the file doesn't seem to follow the recommended boilerplate anyhow.

[2019-07-17 20:58] fabriziopandini commented on #19
/lifecyle active

[2019-07-17 21:28] #19 closed

[2019-07-17 21:52] akutz opened #41 "Cloud-init 18.4 is needed on CentOS 7 for templating used by CAPA and CAPV"
/kind feature

**Describe the solution you'd like**
@detiber informed me that in v1alpha2 the fork (`18.3-52-gc5f78957-1~bddeb~18.04.1`) of cloud-init will no longer be used by the bootstrap controller. Instead the decision was made to use the `runcmd`. I would be thrilled as I originally questioned the value of the `kubeadm` module over the `runcmd`, except I've come to appreciate Jason's fork si

[2019-07-17 21:53] akutz commented on #41
Hi @ncdc,

I filed this as a feature, but it could also be seen as a regression from v1alpha1. I can refile it if you like.

[2019-07-17 23:11] neolit123 commented on #41
while re-inventing the wheel is probably something we should not be doing, it seems to me cloud-init can  be problematic. i had concerns about it, as a bystander back when CAP* decided to go for it, but didn't have anything concrete to bring up.

are there plans to move away from cloud-init completely or search for alternatives?

[2019-07-17 23:13] akutz commented on #41
Hi @neolit123,

I think cloud-init is fine. It's the distro that lags behind. And the fact is, any alternative is going to introduce an entirely new set of problems. Cloud-init is pervasive and works well. It's an issue of CentOS, and I'm about to post a `Dockerfile` that builds the RPM we need.

[2019-07-17 23:15] akutz commented on #41
FWIW, I have a lot of experience with cloud-init and Ignition, and cloud-init is very mature and works very well. Anything that spans most Linux distributions is going to encounter occasional issues across versions of a given distribution.

[2019-07-17 23:19] neolit123 commented on #41
that is true. i common solution is to use the lowest version possible that conforms all distros, but if a new feature is really required a fork will be needed.

[2019-07-17 23:20] akutz commented on #41
Except it's not _new_ per se as @detiber's fork in v1alpha1 already has it. This is kind of a regression IMO. Anyway, I'm producing a Dockerfile that can create the RPM for CentOS from the cloud-init repo. At least that way the provenance is ensured.

[2019-07-17 23:52] akutz commented on #41
Hi @neolit123,

This [branch](https://github.com/akutz/cluster-api-provider-vsphere/tree/feature/cloud-init-centos-7/hack/tools/cloud-init/centos7) of CAPV includes a [`Dockerfile`](https://github.com/akutz/cluster-api-provider-vsphere/blob/feature/cloud-init-centos-7/hack/tools/cloud-init/centos7/Dockerfile) that can be used to build cloud-init for CentOS 7:

[code]

That will create two RPMs for

[2019-07-17 23:57] akutz commented on #41
Please bear in mind that I haven't had time to test this yet. I'll do that later tonight or tomorrow morning. It's my 15th anniversary today, and I'm told I'm taking her to dinner. I mean, I took her to the beach last weekend; I have to do dinner too!? :)

But seriously, I will test this in the morning if someone else doesn't before then. I'm logging off for the night. See y'all tomorrow!

[2019-07-18 01:49] ashish-amarnath commented on #35
IMHO, we should prefer consistency across repos for something like this.
I can re-open https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/pull/24 if there is a consensus.

[2019-07-18 04:47] moshloop commented on #41
I think there are multiple problems with this:

* Using a forked/self-built package as critical as cloud-init has implications for the security and supportability of the resulting images. I am pretty sure doing this will invalidate any support contracts with the OS vendor e.g. Canonical, RedHat, Amazon (for Amazon Linux), By forking the package we also to take responsibility for fixing CVE's withi

[2019-07-18 13:24] akutz commented on #41
I’m not building from a fork. It’s built using the cloud init process. They just don’t provide a package.

Additionally, cloud init is mature, and providing an alternative is not as easy as you make it sound. As you said, this is a critical piece of the bootstrap process and should not be removed just because it needs to be built.

[2019-07-18 14:02] michaelgugino commented on #41
My expectation is we support the major distributions without having to override system packages.  It would be most helpful to have a clear proposal outlining the things we need cloud-init to do, and then evaluate what might be better alternatives (whether using features supported by all cloud-inits, or having cloud-init just execute some helper script/bin).

[2019-07-18 14:02] moshloop commented on #41
As far as I know, each distribution creates their own "fork" of cloud-init with config specific to them, so by building from upstream directly, we are deviating from the norm.

CVE's that are under security embargo would also first be patched first into the forks, and only once the embargo is lifted patched upstream.

Instead of cloud-init generating data in the pre-network phase (so that it can b

[2019-07-18 14:15] akutz commented on #41
No it cannot. Has to happen in the local stage. I can host a call to describe the workflow for anyone interested.

Additionally, let’s please focus this issue on cloud init 18.4+ for CentOS. Discussing alternate bootstrap methods should be its own issue.

[2019-07-18 14:25] moshloop commented on #41
Why ? I know it is definitely possible as that was the approach I used to bring up multiple interfaces with different VLAN's / MTU's which netplan 2 doesn't handle well.

[2019-07-18 18:39] akutz commented on #41
Except so much of the rest of cloud-init's features break as cloud-init asserts the network should be online by the network/init stage (post-local). This includes templating.

Anyway, I've pushed images for:

* `gcr.io/cluster-api-provider-vsphere/extra/cloud-init/centos:7.3.1611`
* `gcr.io/cluster-api-provider-vsphere/extra/cloud-init/centos:7.4.1708`
* `gcr.io/cluster-api-provider-vsphere/extra/

[2019-07-22 10:18] #37 closed

[2019-07-22 13:59] chuckha commented on #35
@ashish-amarnath yes, consistency would be nice, @neolit123 and I have been going back and forth on that but haven't really come to much consensus. Any ideas for how to make this doable would be great, but that's out of scope for this ticket. We need to address why our verify scripts are returning 0 when some checks fail. I am wondering if it has to do with the way the script is run in prow/kubeki

[2019-07-22 15:10] #29 closed

[2019-07-22 21:01] chuckha opened #44 "support user supplied certificates"
/kind feature

**Describe the solution you'd like**
I'm pulling this idea out of #16. It will be best for that PR to assume the secrets don't exist and that they will be generated and uploaded by kubeadm.

We will have to figure out how to support user supplied certificates. Generally I'm thinking that a secret/s is the way to go, but always open to ideas. Trying to keep this as simple as possible

[2019-07-22 21:02] chuckha commented on #44
/milestone v0.1

[2019-07-23 15:09] ncdc opened #46 "Add a KubeadmClusterBootstrapConfig type"
/kind feature

**Describe the solution you'd like**
We should consider adding a cluster-wide configuration type, maybe called `KubeadmClusterBootstrapConfig`, to hold data that does not vary across machines.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-07-23 15:11] vincepri commented on #46
s/KubeadmClusterBootstrapConfig/KubeadmClusterConfig?

[2019-07-23 15:12] ncdc commented on #46
Naming TBD pending bikeshedding 😄

[2019-07-23 15:39] vincepri opened #47 "Switch kubebuilder domain to cluster.x-k8s.io"
/kind feature

**Describe the solution you'd like**
The kubebuilder domain and generated APIs should fall under cluster.x-k8s.io domain.

[2019-07-23 16:43] chuckha commented on #47
/assign
/lifecycle active

[2019-07-23 17:50] #47 closed

[2019-07-24 18:46] dlipovetsky opened #50 "During bootstrap, deploy a user-defined set of addons."
/kind feature

**Describe the solution you'd like**
During bootstrap, deploy a user-defined set of addons.

**Anything else you would like to add:**
Today, the CAPI control plane uses workload cluster's API to deploy addons. This requires the CAPI control plane to reach the workload cluster's API directly.

End-users want to deploy workload clusters in networks that restrict ingress from the inter

[2019-07-25 19:21] ncdc commented on #41
I filed https://bugzilla.redhat.com/show_bug.cgi?id=1733346 to see if we can get this either backported or the version upgraded in RHEL/Centos

[2019-07-26 13:28] chuckha opened #52 "Set up image release pipeline"
/kind feature

**Describe the solution you'd like**
This should implement the k8s_infra image promoter process like what CAPI has done.

https://github.com/kubernetes-sigs/k8s-container-image-promoter

This will be done when we can push an image to the staging branch and have it be promoted to "production" automatically by prow.

**Anything else you would like to add:**

[2019-07-26 13:28] chuckha commented on #52
/priority important-soon
/lifecycle active
/assign

[2019-07-26 14:35] chuckha commented on #52
/remove-lifecycle active
/unassign

@liztio did all the hard work i was going to do

The next steps for this ticket are modifying the Makefile to push to the staging bucket found here:

https://github.com/kubernetes/k8s.io/blob/master/groups/groups.yaml#L111

/good-first-issue

[2019-07-29 07:27] moshloop commented on #41
Standardising on minimal cloud-init + something like https://github.com/coreos/afterburn might be a good middle ground that supports the widest variety of OS's.

Afterburn doesn't support the vsphere metadata, but it should be straightforward to add it.

Distributing afterburn as a static binary is straightforward and getting packages built and maintained upstream, in theory, should be lower frict

[2019-07-29 07:28] moshloop commented on #41
@LaneWolf could you comment on cloud-init 18.5 support for RHEL 7 & 8 ?

[2019-07-29 13:44] ncdc commented on #41
I'd like to wait a bit and see if we get any comments on the bz I opened before we decide to search for alternatives.

[2019-07-30 00:00] CamelCaseNotation commented on #14
I like this suggestion, but I don't think this should be tied to this bootstrap provider. To decide where it should belong, questions like "what other types of bootstrap providers may be created in the future/are being started now? do those providers have a need for cert management too?"

[2019-07-30 22:04] kfox1111 opened #55 "task deletion"
Is there a standard way to delete tasks?

[2019-07-31 10:43] SataQiu commented on #52
Are there any more detailed instructions? Or some examples about this?

[2019-07-31 17:47] ncdc commented on #35
Should be fixed. Please reopen if needed.
/close

[2019-07-31 17:47] #35 closed

[2019-07-31 17:53] chuckha commented on #41
/priority important-soon
/milestone v0.1

[2019-07-31 17:53] chuckha commented on #46
/milestone v0.1
/priority important-soon

[2019-07-31 17:54] chuckha commented on #46
/assign
/lifecycle active

[2019-07-31 17:58] chuckha commented on #50
/milestone v0.1
/priority important-soon
/assign @dlipovetsky

[2019-07-31 18:00] chuckha commented on #27
/milestone v0.1
/priority important-soon

[2019-07-31 18:04] chuckha commented on #27
/close

please see #39 for details

[2019-07-31 18:04] #27 closed

[2019-07-31 18:05] chuckha commented on #55
@kfox1111

can you provide more detail? What is a task?

/priority awaiting-more-evidence

[2019-07-31 18:26] kfox1111 commented on #55
Ah, there's where this issue went. I'm sorry, I was trying to raise an issue in a different project and missed. I thought I was going crazy when I couldn't find it. :)

Sorry for the noise.

[2019-07-31 18:26] #55 closed

[2019-07-31 19:02] chuckha commented on #52
@SataQiu I added some additional context above, please let me know if you have any more questions

[2019-07-31 21:50] ncdc opened #57 "Add AdditionalUserDataFiles field"
/kind feature

**Describe the solution you'd like**
CAPA v0.3.x has a field called `AdditionalUserDataFiles` that looks like this:
[code]

We should add this for feature parity. CAPA also has this at the cluster scope too, to apply to all machines, in addition to at the machine scope. When we do #46, that should have an `AdditionalUserDataFiles` field too.

**Anything else you would like to add:**

[2019-07-31 21:53] dlipovetsky commented on #50
Some x-refs.
1. Solution could be the same as CAPA's support for "additional configuration files" (with some caveats): https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/847
1. Security implications of static pods on non-control plane machines: https://github.com/kubernetes/kubeadm/issues/1541

[2019-07-31 22:00] dlipovetsky commented on #50
@cha Any thoughts on whether additional static pods (or, generally, additional configuration files) are in scope? Is it better to implement this as a "node lifecycle hook" (lifecycle hooks will be supported by CAPI in the future).

[2019-07-31 22:30] dlipovetsky commented on #50
Regardless of where this is implemented (CABPK, kubeadm config, some node lifecycle hook), the user-defined set of addons looks like it will end up in cloud-init user-data. And as CAPA learned from https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/847, the infrastructure might limit user-data size. For example, AWS limits user-data to 16KB.

So it might help if the infra provider

[2019-07-31 22:32] dlipovetsky commented on #50
I like CAPA's current solution, so I'm more than happy to PR a copy of it :smile:

[2019-08-01 01:46] ncdc opened #59 "Improve user experience when using an external etcd"
We must write a few additional certificate files.

The user will be supplying the `etcd.crt` file in addition to the `apiserver-etcd-client.key` and `apiserver-etcd-client.crt` files. They will use the normal etcd secret and CABPK will look for an additional secret, `<cluster-name>-etcd-client` (may not be this name exactly). It will then write these secrets to disk depending on the configuration

[2019-08-01 13:40] detiber commented on #59
@ncdc I'm not sure the timeline you had in mind for this, but I'm wondering if this is something that might be better served with a combination of:
- The addition of control plane management primitives added to Cluster API
- A new bootstrap provider for etcdadm

With that combination there shouldn't need to be any changes for the kubeadm bootstrap provider, since we should already have the ability

[2019-08-01 13:55] detiber commented on #50
@dlipovetsky can we close this as a duplicate of https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/issues/57 then?

[2019-08-01 22:18] dlipovetsky commented on #50
@detiber Sure.

[2019-08-01 22:18] #50 closed

[2019-08-02 08:41] embik commented on #11
Just a heads up, [Fedora CoreOS (FCOS)](https://getfedora.org/coreos/) won't support `cloud-init` as far as I know. It would be neat if this provider supported different output, which is mentioned in #16 anway.

This issue should probably focus on output format, not operating system; so, support `cloud-init`, the old Ingition scheme for CoreOS and the new Ignition scheme for FCOS. Something like t

[2019-08-02 13:23] detiber commented on #11
@embik hmm, I don't have any strenuous objections to adding some type of output filter that could be selected.

@chuckha @ncdc We could potentially add a new field `KubeadmConfig.Spec.Format`, that defaults to `cloud-config` (the more formal name for the declarative config used by cloud-init), but that would allow over time the addition of other output formats such as the ones mentioned above.

[2019-08-02 13:25] ncdc commented on #11
@detiber +1 to supporting multiple output formats

[2019-08-02 15:07] chuckha opened #63 "Improve Update/Patch of DockerMachine"
/kind feature

**Describe the solution you'd like**
We are using .Update to update DockerMachines and we should be using patch. One for the object itself and one for the status.

**Anything else you would like to add:**
Take a look here for inspiration:

https://github.com/kubernetes-sigs/cluster-api/blob/62582da077611649856cb2a88ec73c957e8569f5/pkg/controller/cluster/cluster_controller.go#L116-L1

[2019-08-02 15:07] chuckha commented on #63
/kind cleanup
/priority important-soon

[2019-08-02 15:29] chuckha opened #64 "Enable GOPROXY default in Makefile"
/kind bug

We are forcing `GOPROXY=https://proxy.golang.org` in the Makefile but really we should first, default to `go env GOPROXY` and use that if it's set. If that's not set *then* use `https://proxy.golang.org`

/priority important-longterm
/milestone v0.1

[2019-08-02 18:20] chuckha opened #65 "Error logging strategy"
/kind feature

**Describe the solution you'd like**
How should we make this application debuggable? The reconcile function returns an error, it should probably have a stacktrace associated with it, but should we simply print it? Structured logging will print it for us but the usability is pretty bad since it gets escaped it's really hard to read.

A suggested strategy might be to log the stack tra

[2019-08-02 22:33] amy commented on #64
/assign

[2019-08-02 22:39] amy commented on #63
Can you add information on why a Patch is needed for future reference.

[2019-08-02 23:52] detiber commented on #63
Update can fail if the resource version changes. Patch (especially when leveraging the controller-runtime tooling) will only apply a diff and is less likely to conflict.

[2019-08-05 13:59] chuckha commented on #46
/remove-lifecycle active

[2019-08-05 14:01] #64 closed

[2019-08-05 14:16] ncdc commented on #46
Talked to @fabriziopandini and @chuckha on Zoom. We shouldn't need this. The first control plane machine can use ClusterConfiguration + InitConfiguration. All subsequent machines can use JoinConfiguration.

[2019-08-05 14:16] ncdc commented on #46
/close

[2019-08-05 14:16] #46 closed

[2019-08-05 14:29] ncdc commented on #57
@fabriziopandini @chuckha here is one example where a cluster-wide CRD could be useful: if we need to write the same set of files to every machine. For now, it's fine to copy/paste the file data to each `KubeadmConfig`, but maybe in the future we could simplify things.

[2019-08-05 14:29] ncdc commented on #57
/assign
/lifecycle active

[2019-08-05 14:36] ncdc commented on #63
/assign
/lifecycle active

[2019-08-05 14:51] ncdc opened #68 "Update controller-tools to v2 beta5"
/kind feature

**Describe the solution you'd like**
Update controller-tools to v2 beta5. See https://github.com/kubernetes-sigs/cluster-api/pull/1224 as an example.

[2019-08-05 14:59] ncdc opened #70 "hack/verify-all.sh returns success when individual tests are in error"
/kind bug

**What steps did you take and what happened:**
[code]
**What did you expect to happen:**
1. CI should fail

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster API version: N/A
- Cluster API Bootstrap Provider Kubeadm version: commit 9e9c21912e617025096d1c220f4cbb2816ef0b1d
- Cluster API Infrastructure

[2019-08-05 15:03] ncdc opened #71 "We should always download & install the right version of controller-gen"
/kind bug

**What steps did you take and what happened:**
1. I have a different version of `controller-gen` in my `$PATH` than the version listed in `go.mod`/`go.sum`
1. Run `make generate`
1. The generated files use the version of `controller-gen` from my `$PATH`, which might be the wrong version

**What did you expect to happen:**
1. Always use the right version of `controller-gen`

**Anything e

[2019-08-05 15:06] chuckha commented on #70
I see it

/lifecycle active

[2019-08-05 15:06] chuckha commented on #70
/assign

[2019-08-05 15:07] detiber commented on #71
Did the change that @chuckha made https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/pull/62/files#diff-b67911656ef5d18c4ae36cb6741b7965 not accomplish this already?

[2019-08-05 15:07] ncdc commented on #71
Not quite - it's a no-op if it's already in `$PATH`

[2019-08-05 15:08] detiber commented on #71
Indeed :(

[2019-08-05 15:13] #70 closed

[2019-08-05 15:20] ncdc opened #73 "CI should fail if CRD manifests are out of date"
/kind bug

**What steps did you take and what happened:**
1. Modify a field in a CRD, such as changing the json tag
1. Run `hack/verify-all.sh`
1. It passes

**What did you expect to happen:**
1. It should fail because the generated manifests are out of date

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster API

[2019-08-05 15:47] amy commented on #73
/assign

[2019-08-05 16:18] chuckha opened #74 "Define CA pair secret names"
/kind feature

**Describe the solution you'd like**
In order to allow users to provide their own CA key pairs we should have this provider check a certain location for secrets. A user can upload secrets to this specific location and we will use them. If they don't exist we will create them and then use them.

This may pose a problem of certs disappearing between runs but I think it's ok to ignore

[2019-08-05 16:18] chuckha commented on #74
/milestone v0.1
/priority important-soon

[2019-08-05 16:31] #57 closed

[2019-08-05 17:28] ncdc commented on #74
I think we still want to support multiple clusters in a single namespace, so we'll need to have a way to distinguish between 2 Cluster CA Keys, for example. Right?

[2019-08-05 17:28] amy commented on #73
Initial thoughts. I'm going to have the verify script run the generate scripts, then run a diff against the PR and what's generated.

[2019-08-05 17:29] ncdc commented on #73
what do you mean by this?

[2019-08-05 17:30] ncdc commented on #71
/assign
/lifecycle active

[2019-08-05 17:32] detiber commented on #74
Indeed, would we be able to prefix the secret names with Cluster.Name?

I also wonder if there is any reason to have separate secrets here, instead of a single secret that deserializes to map[string]string, where the key is the key/cert "name" and the value are the contents.

[2019-08-05 17:35] amy commented on #73
Run a diff between:
- Actual: the CRD manifests in the PR
- Expected: the CRD manifests generated from `make manifests` that I'll stick in some temp directory that will clean up after the verify script runs

[2019-08-05 17:35] ncdc commented on #74
Prefix/postfix makes sense, but we need to be careful about name length limits - if a cluster has a long name, we may exceed the limit when prepending or appending the cluster name to the secret name.

1 secret sounds like it might work better than multiple.

[2019-08-05 17:36] ncdc commented on #73
Ok, thanks. 👍

[2019-08-05 18:17] #71 closed

[2019-08-05 18:18] ncdc commented on #68
/assign
/lifecycle active

[2019-08-05 18:34] chuckha commented on #44
/close
a better issue exists #74

[2019-08-05 18:35] #44 closed

[2019-08-05 18:42] rudoi commented on #74
I wonder if we could get away with naming the secret after the cluster exactly?

[2019-08-05 18:43] detiber commented on #74
We *could*, but then there is potential confusion with other secrets, such as the existing `<clustername>-kubeconfig` secret.

[2019-08-05 19:00] moshloop commented on #74
In isolation I agree 1 secret is better than multiple, but if we wanted to interoperate with something like cert-manager than I believe we will need to stick to 1 secret per cert with a `tls.key` and `tls.crt`

[2019-08-05 19:05] chuckha commented on #74
1 secret sounds good to me too

[2019-08-05 19:06] chuckha commented on #74
Feel free to edit the original post with the new and improved idea, or leave a comment if you cannot edit the post

[2019-08-05 19:11] moshloop commented on #23
While perhaps not the right repo/issue does it not make sense to introduce a SCL go package/binary to handle these types of `hack` script related tasks?

Maybe something based off https://github.com/google/addlicense / https://github.com/fbiville/headache and then later extended to handle:

* dependency downloads (controller-gen, gitbook, etc..)
* linting
* doc / api generation
* etc..

Bash and p

[2019-08-05 19:14] detiber commented on #23
Personally, I would like to see something for the greater k8s ecosystem, such as https://github.com/kubernetes/repo-infra, but usable without `git subtree` or other hackery.

[2019-08-05 19:25] #63 closed

[2019-08-05 19:37] moshloop commented on #74
I don't have issue edit rights 🚫

[2019-08-05 19:59] #68 closed

[2019-08-05 20:10] neolit123 commented on #23
WRT to this ticket just switch to the PY version of the boilerplate check from k/k.

[2019-08-05 20:27] rudoi commented on #74
Curious is there anything that stops the `kubeconfig` secret name from exceeding the max length today?

[2019-08-05 20:27] ncdc commented on #74
@rudoi nope, we need to address that too 😦

[2019-08-05 20:40] rudoi commented on #74
@ncdc understood :)

Is the scope of this issue just to define the names or to also provide the cert generation work as well?

[2019-08-05 20:43] chuckha commented on #74
I was thinking it would also include generating the certs, but if you feel a second ticket with more detail about cert generation makes sense we can definitely add that!

[2019-08-05 20:54] rudoi commented on #74
I'm cool to scope this either way. Let's include the cert generation here. @chuckha you had mentioned something about this relying on another PR you were working on?

/assign

[2019-08-05 21:00] chuckha commented on #74
@rudoi Yep, just working through the last bit of this https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/pull/42

[2019-08-05 22:09] chuckha opened #78 "Overlap between cluster network & cabpk configuration"
/kind bug

**What steps did you take and what happened:**
A user now has several places to define some network settings. One the cluster object and one on the kubeadm config object. We need to make there be only one place where this should be set or at least document it will.

cc @fabriziopandini

[2019-08-05 22:45] rudoi commented on #74
/lifecycle active

[2019-08-05 23:46] detiber commented on #78
In my opinion, the precedence should belong to the top-most level object. In this case, we should respect the values defined in the Cluster.

[2019-08-05 23:48] detiber commented on #78
Alternatively, we could detect the conflict and error.

[2019-08-06 02:17] chuckha opened #80 "Machine ref is not being matched properly"
/kind bug

**What steps did you take and what happened:**
The machine ref is not matching the actual machine properly. The group is also included in the version.

/milestone v0.1
/assign
/lifecycle active
/priority critical-urgent

[2019-08-06 08:09] #16 closed

[2019-08-06 14:59] ncdc opened #85 "Should we honor or ignore cluster.spec.infrastructureReady?"
In CAPA for v1alpha1, we added code that prevented any Machine instances (ec2 instances) from being created if the cluster infrastructure (VPC, security groups, etc.) wasn't ready yet.

Now that generating bootstrap data is isolated from provisioning Machine infrastructure, I'm wondering if it would be ok to remove the logic in this repo that prevents generating bootstrap data if `cluster.status.i

[2019-08-06 14:59] ncdc commented on #85
@chuckha @fabriziopandini

[2019-08-06 15:01] detiber commented on #85
@ncdc I'm not entirely sure, since in the case of AWS, the load balancer is created as part of the infrastructure and would be needed for generating the bootstrap data.

[2019-08-06 15:02] ncdc commented on #85
@detiber true (and @fabriziopandini mentioned it too in #82)... but we could have this repo require `cluster.status.apiEndpoints` to be valid before continuing (or have the user fill it in manually in the kubeadm config).

[2019-08-06 15:06] detiber commented on #85
@ncdc The potential problem would be is that we would just know that the endpoints are set and not that the shared infrastructure is actually ready to be consumed at that point. I think having an explicit InfrastructureReady field allows the cluster infrastructure provider to have a clear marker to signal to the bootstrapper/machine controller that it is ok to proceed is better than implicitly loo

[2019-08-06 15:16] chuckha opened #86 "Ensure docker build is not broken with a verify script"
/kind bug

**What steps did you take and what happened:**
The docker build is broken! It should have a verify script.

[2019-08-06 15:16] chuckha commented on #86
/priority important-longterm

[2019-08-06 15:22] dennisme commented on #86
/assign

[2019-08-06 15:35] ncdc commented on #85
`cluster.spec.infrastructureRef` is optional, so we may need to tell users who leave that unset to patch the status to set `infrastructureReady` to true.

[2019-08-06 15:37] detiber commented on #85
yuck, should we provide an optional `noop` cluster infrastructure provider that would just set `infrastructureReady=true` for those use cases?

[2019-08-06 15:39] ncdc commented on #85
If we add the `spec.defaultInfrastructureProvider` field you suggested, that could work, although it would end up creating 1 NoopCluster for each Cluster, which seems unnecessary.

For now, I say we honor and require `cluster.status.infrastructureReady` based on the arguments made above, and we can deal with optional infraRef elsewhere. WDYT?

[2019-08-06 15:44] detiber commented on #85
sgtm

[2019-08-06 15:45] ncdc commented on #85
/close

[2019-08-06 15:45] #85 closed

[2019-08-06 15:53] ncdc opened #90 "Wire up AdditionalUserDataFiles to generation code"
/kind feature

**Describe the solution you'd like**
With #67 and #89, we have an `AdditionalUserDataFiles` field, but it's currently not wired up to anything. We need to plumb it through to the bootstrap data generation.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-08-06 16:07] #73 closed

[2019-08-06 16:15] #80 closed

[2019-08-06 17:44] chuckha commented on #23
I don't think there's anything else to be done with this issue. New files should have a year, generated files that do not have a year are excluded from the check.

/close

[2019-08-06 17:44] #23 closed

[2019-08-06 22:52] rudoi commented on #74
so I noticed that both the `cloudinit` and the `controllers` packages define a `Certificates` type. Is is ok to throw one of those away here or...?

cc @chuckha

[2019-08-07 18:03] neolit123 commented on #65
hey @chuckha
i've created this PR a couple of days ago:
https://github.com/kubernetes/kubernetes/pull/80937

my solution was to dump stacktrace on klog's `--v=5` or higher.
today in the kubeadm office hours it saw some positive comments, but it's still under review.

[2019-08-07 18:53] ykakarap commented on #90
@ncdc I am new to the project. Since this is a "good first issue" I would like to take a look at this.

[2019-08-07 19:00] ncdc commented on #90
@ykakarap thanks! We need to plumb this field into the places where we create `cloudinit.NodeInput`, `cloudinit.ControlPlaneInput`, and `cloudinit.ControlPlaneJoinInput`. Is that enough to get started, or do you need more details?

[2019-08-07 19:02] ykakarap commented on #90
You also mentioned that there is a CAPA link that I can look at for reference. Can you please provide that?

[2019-08-07 19:02] ncdc commented on #90
See e.g. https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/c909830772ce8e58497187262f3028b59548b716/pkg/cloud/aws/services/ec2/instances.go#L238-L242

[2019-08-07 20:07] chuckha opened #94 "All Updates should be Patches"
/kind feature

**Describe the solution you'd like**
Refactor the controller to only use Patch to update a config. Don't use update.

/priority important-soon
/milestone v0.1
/good-first-issue
/assign @joonas
/lifecycle active

[2019-08-07 20:08] chuckha commented on #94
ok well, assigning to me, but i'm not actually doing the work

/assign

[2019-08-08 05:33] SataQiu commented on #94
/assign

[2019-08-08 12:45] chuckha commented on #94
@SataQiu @joonas was already working on this one. In the future if you see life lifecycle active that means it's already being worked on and you should not assign it or work on it without asking the issue owner.

[2019-08-08 12:48] chuckha commented on #90
/lifecycle active

[2019-08-08 12:48] chuckha commented on #90
/assign @ykakarap

[2019-08-08 13:13] chuckha opened #97 "Add ErrorReason/ErrorStatus to CRD Statuses"
/kind feature

**Describe the solution you'd like**
our configs can end up in an error state, such as having a cluster with two configs that both only have join & init configuration. In this case we need to be able to report up that one is broken and needs attention.

In order to do this we will need ErrorReason and ErrorStatus on our CRDs.

**Anything else you would like to add:**
Look here but d

[2019-08-08 13:16] SataQiu commented on #94
I'm sorry. I'll be more careful next time

[2019-08-08 13:19] fabriziopandini opened #98 "Create bootstrap tokens for joining nodes"
/kind feature

**Describe the solution you'd like**
As per [comment](https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/pull/82#discussion_r311600674), before joining a node the reconciler should create a new bootstrap token in the target cluster

**Anything else you would like to add:**
Relevant code in CAPAv1alpha1
- https://github.com/kubernetes-sigs/cluster-api-provider-

[2019-08-08 13:42] fabriziopandini opened #99 "Prevent the bootstrapper to run kubeadm init on two nodes"
/kind feature

**Describe the solution you'd like**
As discussed on https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/pull/92

while the controlplane is not ready, the controller should requeue the second bootstrap control plane and try to join it after the controlplane gets ready.

That means that if by chance the second bootstrap control plane has a JoinConfiguration, the

[2019-08-08 14:29] #86 closed

[2019-08-08 15:17] #90 closed

[2019-08-08 16:30] zjs opened #100 "Ability to configure users via cloud-config"
/kind feature

**Describe the solution you'd like**
I would like to be able to define information about users as a part of the cloud-config data.

For example, I may want to add a service account with a specific username, SSH authorized key, and group so that I can use to connect to nodes after they have been provisioned.

For example, I may want to restrict the root user's configuration.

**Anyth

[2019-08-08 16:31] zjs opened #101 "Ability to configure NTP servers via cloud-config"
/kind feature

**Describe the solution you'd like**
I would like to be able to define NTP servers as a part of cloud-config.

I may have NTP servers internal to my datacenter which I want my nodes to use.

**Anything else you would like to add:**
A golang template for configuring this could look something like:

[code]

[2019-08-08 16:36] zjs opened #102 "Ability to configure hostname via cloud-config"
/kind feature

**Describe the solution you'd like**
 I would like to be able to define a hostname via cloud-config data.

For example, I may want to use a specific hostname for each of my nodes.

**Anything else you would like to add:**
A golang template for configuring this could look something like:
[code]

[2019-08-08 20:21] detiber commented on #100
This seems quite reasonable, and is also supported in ignition so would not present issues as we look to add support for different output formats.

[2019-08-08 20:24] detiber commented on #102
It looks like this is also supported by ignition, so if we do add this support it wouldn't cause issues as we implement additional output formats.

I do worry a bit about how big of a footgun this might be for users, especially in environments where the hostname and DNS name are expected to align for cloud-provider integration.

[2019-08-08 20:27] detiber commented on #101
It doesn't look like ntp is supported in ignition, so this may present issues when we look at adding support for additional types of output.

[2019-08-09 13:27] #94 closed

[2019-08-09 14:58] fabriziopandini commented on #98
/milestone v0.1

[2019-08-09 18:05] dennisme commented on #101
For CoreOS we run timesyncd. Would look something like this:

[code]

[2019-08-09 18:07] detiber commented on #101
@dennisme does this apply both to old school CoreOS and the newer Fedora CoreOS?

[2019-08-09 18:09] dennisme commented on #101
Im only familiar with CoreOS proper, but I can look into it @detiber.

[2019-08-09 18:46] ykakarap commented on #99
I would like to work on this issue.

[2019-08-09 18:50] ykakarap commented on #99
To use the init-locker here I will need to create it using the `newControlPlaneInitLocker(log logr.Logger, configMapClient corev1.ConfigMapsGetter)`.
Any suggestions on where I can get an instance of `corev1.ConfigMapsGetter` inside the `Reconcile` function of `kubeadmconfig_controller.go`?

Thank you.

[2019-08-09 18:57] chuckha commented on #99
@ykakarap That would come from the static client. I think what you'd want to do in this case, as we aren't using the static clients, is to change that signature to the client found on the reconciler. I'll meet up with you and talk through it.

[2019-08-09 19:04] ykakarap commented on #99
@chuckha Thanks for the walkthrough. 😄
Working on it now.

[2019-08-09 19:08] ykakarap opened #108 "Add AdditionalCommands field to KubeadmConfigSpec"
/kind feature

**Describe the solution you'd like**
`ControlPlaneInput` and `NodeInput` both support `AdditionalCommands` in their teamplate and struct but it looks like `KubeadmConfigSpec` does not have a field that the user can use to take advantage of `AdditionalCommands`.

The `AdditionalCommands` field in `KubeadmConfigSpec` should eventually get wired up to `ControlPlaneInput` and `NodeInput

[2019-08-09 19:11] ykakarap commented on #108
/cc @chuckha

[2019-08-09 19:13] chuckha commented on #108
Agreed, we should definitely wire this up.

[2019-08-09 19:13] ykakarap commented on #108
/assign @ykakarap

[2019-08-09 19:14] ykakarap commented on #108
/lifecycle active

[2019-08-09 19:23] ericzhang08 commented on #97
/assign

[2019-08-09 20:00] ncdc commented on #108
Would it make sense to be able to specify commands to run both before `kubeadm init/join` and after? Is there a need for a distinction?

[2019-08-09 21:02] ykakarap commented on #99
@fabriziopandini @chuckha  I am acquiring the lock right before we start creating the bootstrap data for the init control plane. Ideally, we should release the lock after the `cluster.x-k8s.io/control-plane-ready` annotation is set.
Since we won't know when that happens from inside this `Reconcile` function, I am planning to have the lock release call every time we verify that annotation is set. B

[2019-08-09 21:52] ykakarap commented on #99
/assign @ykakarap
/lifecycle active

[2019-08-11 06:55] moshloop opened #111 "Consider using konfigadm instead of cloud-init"
/kind feature

[konfigadm](https://github.com/moshloop/konfigadm) is a declarative, intent-based library/CLI for configuring hosts in a kubernetes environment.

This would help solve #108 #102  #101 #100 #41

konfigadm *compiles* down to bash or cloud-init - adding an ignition config or ignition + bash output is fairly trivial to implement and test.

Konfigadm also includes full golang structs for

[2019-08-12 07:55] fabriziopandini commented on #99
@ykakarap

I think this is acceptable (there should be also a comment on the code on the same line few lines below), but I leave @chuckha the final word on this

[2019-08-12 08:29] fabriziopandini commented on #108
@ncdc @chuckha I'm a little bit concerned about the number of request about extending the cloud-init script generation in CABPK outside the boundaries of what is strictly needed by kubeadm.

Instead, why not take this problem from a different perspective, al let CABPK focus on what is strictly necessary for kubeadm and let different infrastructure provider to prepend/append custom extensions to wh

[2019-08-12 08:36] fabriziopandini commented on #74
@chuckha @rudoi is the certificate generation included in the part actively worked or not?
AFAIK certificate generation is the latest bit to get the main reconcile workflow in place, and I would like to get this ready for testing as soon as possible; in case the certificate generation is still pending, I will be happy to work on it!

[2019-08-12 08:55] moshloop commented on #108
I would support the approach of keeping CABPK minimal and letting other bootstrap providers/filters handle extension via chaining - it would also align better with the single responsibility design principle.

[2019-08-12 09:04] fabriziopandini opened #112 "Simplify UX / KubeadmConfig object requirements"
/kind feature

**Describe the solution you'd like**
The current implementation of CABPK requires the users to comply with some rules for the `KubeadmConfig` object:
- Control plane nodes must have:
  - `InitConfiguration` or` ClusterConfiguration` for the bootstrap control plane
  - `JoinConfiguration`, with `ControlPlane` value set for the additional control planes
- Worker nodes must have:
  - `

[2019-08-12 13:52] detiber commented on #108
@moshloop Chaining of bootstrap providers was not in the design for v1alpha2, but it is something that we can discuss for future releases.

@fabriziopandini the potential issue with offloading this to infrastructure providers is that multiple infrastructure providers will likely have to re-implement the same functionality as each other.

We already offer fields that can be abused for non-kubeadm c

[2019-08-12 13:58] chuckha commented on #99
We should not be using an annotation here. We should be using the `cluster.Status.InfrastructureReady` field.

[2019-08-12 14:01] chuckha commented on #99
Actually `cluster.Status.InfrastructureReady` doesn't seem to be right.

@vincepri @detiber I'd almost expect a field on the capi Cluster.Status telling us if we're ready for joining nodes to a cluster, wdyt?

[2019-08-12 14:07] fabriziopandini commented on #99
AFAIK
- `cluster.Status.InfrastructureReady` tell us when we can start joining nodes
- `cluster.x-k8s.io/control-plane-ready` annotation tells us when the first control plane is up and running, and so we can start joining nodes

[2019-08-12 14:13] chuckha commented on #99
oh i see, that is defined in CAPI. ok, missed that. The TODO should be removed and we should import

`v1alpha2.ClusterAnnotationControlPlaneReady`. Thanks!

Rest of this issue sounds good to me.

[2019-08-12 14:15] rudoi commented on #74
hi @fabriziopandini, yep we're actively working on it. Hope to have something ready for review shortly. :)

[2019-08-12 14:47] detiber commented on #99
I'm definitely not a fan of relying on annotations rather than fields, maybe we need to add a `Cluster.Status.ControlPlaneReady` field even if it is just set by the Cluster controller when the annotation is set?

[2019-08-12 15:07] dennisme commented on #101
Looks like the plan according to https://github.com/coreos/fedora-coreos-tracker/issues/222 is to switch to chronyd.

[2019-08-12 15:08] fabriziopandini commented on #99
I'm +1 on adding  `Cluster.Status.ControlPlaneReady` field

[2019-08-12 15:10] chuckha commented on #99
I opened the linked issue above.

[2019-08-12 15:12] ykakarap commented on #99
I am wondering how the following situation needs to be handled:

Let's say there are 2 control planes that are both trying to init. One of them will get the lock and will try to create the machine and do the init operation. Let's say while creating the machine it encountered an error because of some bad value in the yaml. This machine will try to reconcile over and over again but because of the ba

[2019-08-12 15:15] chuckha opened #113 "klogr logger does not log"
/kind bug

**What steps did you take and what happened:**
If you run the default manager you will not see any logs.

**What did you expect to happen:**
I expected to see logs

**Anything else you would like to add:**
I believe a -v flag must be parsed and passed to the klogr instance.

cc @fabriziopandini

[2019-08-12 15:17] rudoi opened #114 "Create secret containing cluster kubeconfig"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
In v1alpha1, the infrastructure providers could create a secret containing a cluster's kubeconfig. In v1alpha2 the bootstrap provider should handle this.

[2019-08-12 15:18] rudoi commented on #113
`klog.InitFlags()` ruins our lives yet again

[2019-08-12 15:19] chuckha commented on #113
@rudoi it does :D

[2019-08-12 15:25] rudoi commented on #113
/assign
/lifecycle active

[2019-08-12 15:27] chuckha commented on #97
/assign @mytunguyen
/lifecycle active
/unassign @ericzhang08

hey @ericzhang08 since this isn't marked as active I'm sending this over to someone else interested getting into the project

[2019-08-12 15:27] chuckha commented on #97
/assign

[2019-08-12 16:09] #113 closed

[2019-08-12 17:48] dennisme commented on #114
@rudoi wanna pair on this one?

[2019-08-12 17:59] rudoi commented on #114
@dennisme definitely

/assign @dennisme
/lifecycle active

[2019-08-12 18:02] vincepri commented on #111
For the time being, I'd like to stick with cloud-init which has been proven to be working in v1alpha1 and is well-known. Adopting a non-standard specification would increase the amount of time a new user can start contributing or using this bootstrap provider and increase the maintenance burden.

[2019-08-12 18:44] akutz opened #116 "Write "/etc/hosts" and "/etc/hostname""
/kind feature

**Describe the solution you'd like**
The bootstrap data should include the files `/etc/hosts` and `/etc/hostname` with the values derived from the host. This ensures these files reflect the correct values without requiring a reboot before the systemd-hostnamed service updates them.

[2019-08-12 18:44] akutz commented on #116
Related to https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/474

[2019-08-12 19:15] moshloop commented on #111
From my perspective the way in which you prove something is by creating a test for it, and on that basis cloud-init is only coincidentally working in v1alpha1 and less so in this repo, a single addition or removal of whitespace could break this provider as it stands, and that is really fragile.

Konfigadm is both a high-level specification and a golang api to cloud-init which would at least ensure

[2019-08-12 19:44] ericzhang08 commented on #112
Hi, @fabriziopandini.Can I work on this Issue?

[2019-08-12 19:50] fabriziopandini commented on #99
@ykakarap the scenario you are describing is correct, but unless @chuckha want to block on this case, I think that it is fine to postpone it to a follow-up PR.
For this iteration, let's make sure to release the lock if something fails while preparing the cloud-init for the bootstrap node.

[2019-08-12 20:24] detiber commented on #116
@akutz I'm not sure I agree that the bootstrap data should always include /etc/hosts and /etc/hostname. Shouldn't we rely on the set_hostname, update_hostname, and update_etc_hosts modules to handle this?

[2019-08-12 20:34] vincepri commented on #116
In addition to what @detiber mentioned, this functionality should be offered as an opt-in behavior that only some providers should use. AWS for example already sets these values internally on boot and doesn't need further intervention.

[2019-08-12 21:43] amy commented on #98
/milestone v0.1
/priority important-soon

[2019-08-12 21:45] amy commented on #99
/milestone 0.1
/priority important-soon

[2019-08-12 21:46] amy commented on #100
/milestone next
/priority important-longterm

[2019-08-12 21:48] amy commented on #101
/priority awaiting-more-evidence

[2019-08-12 21:51] amy commented on #108
/priority important-longterm
/milestone next

[2019-08-12 21:52] amy commented on #112
/priority important-longerm

[2019-08-12 21:54] amy commented on #112
/priority important-longterm

[2019-08-12 21:55] amy commented on #114
/priority important-longterm

[2019-08-12 21:57] amy commented on #102
/priority awaiting-more-evidence

[2019-08-13 13:46] chuckha commented on #11
I think multiple output formats is pretty reasonable! @detiber do you see this as milestone next or first release? I'm leaning towards next, but want to get your input.

[2019-08-13 13:48] chuckha commented on #13
@moshloop can you please fill this issue out more? I don't know how to resolve this issue.

/priority awaiting-more-evidence

[2019-08-13 13:51] detiber commented on #11
@chuckha What if we added a field for the output format for v1alpha2, and then additional output providers could be added for later v1alpha2-based releases as well without having to wait for v1alpha3.

[2019-08-13 13:55] chuckha commented on #11
that sounds fine to me. I'll make the issue to add a new field that is a no-op/forced `cloud-init` for this release

[2019-08-13 14:00] chuckha opened #121 "Add a field to the spec called Format"
/kind feature

**Describe the solution you'd like**
Following up from a discussion https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/issues/11#issuecomment-517698950

We are going to support multiple output versions *after* v1a2 but we are going to add the field now so that we don't have to modify the API later.

Don't forget to regenerate everything after adding the field!

[2019-08-13 14:03] chuckha commented on #98
/milestone v0.1

[2019-08-13 14:04] chuckha commented on #99
No interest in blocking @fabriziopandini. Follow on is fine.

/milestone v0.1

[2019-08-13 14:04] chuckha commented on #100
/milestone next

[2019-08-13 14:05] chuckha commented on #101
/milestone next

[2019-08-13 14:05] chuckha commented on #101
/milestone Next

[2019-08-13 14:05] chuckha commented on #100
/milestone Next

[2019-08-13 14:05] chuckha commented on #102
/milestone Next

[2019-08-13 14:06] detiber commented on #121
This Format field should probably validate as a ENUM and also default to the value "cloud-config" or maybe "cloud-config", since the cloud-init output we currently produce is in the [Cloud Config Data](https://cloudinit.readthedocs.io/en/latest/topics/format.html#cloud-config-data) format.

[2019-08-13 14:24] detiber commented on #114
/priority important-soon
/milestone v0.1

[2019-08-13 14:25] detiber commented on #114
/remove-priority important-longterm

[2019-08-13 14:55] ykakarap commented on #99
Ok then 👍 . @chuckha @fabriziopandini I will raise a PR for this issue later today or tomorrow morning.

[2019-08-13 16:46] akutz commented on #116
Hi @detiber / @vincepri,

Some background on this:

* The kubelet in CAPV images was using the static host name instead of the transient (DHCP) host name
* This is because the return value from the system call `gethostname()` is not always in sync with the value in `/etc/hostname`
* This drift occurs when the `/etc/hostname` file has not yet been updated by `systemd-hostnamed`, a service that star

[2019-08-13 17:23] ykakarap commented on #121
I would like to take up this issue.
/assign @ykakarap

[2019-08-13 17:23] ykakarap commented on #121
/lifecycle active

[2019-08-13 21:00] fabriziopandini opened #123 "Reconcile should set CACertHashes instead of UnsafeSkipCAVerification"
/kind feature

**Describe the solution you'd like**
as per [comment](https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/pull/105#discussion_r313393592) reconcile should set CACertHashes instead of UnsafeSkipCAVerification for token discovery

**Anything else you would like to add:**
Setting CACertHashes requires to get access to the cluster CA certificates; see https://githu

[2019-08-13 21:56] #98 closed

[2019-08-14 00:34] rudoi commented on #74
Just about done with this but just rebased and need to fix some tests. :smile:

[2019-08-14 13:49] detiber commented on #123
/priority important-soon
/milestone v0.1

[2019-08-14 15:58] akutz opened #125 "Support for not knowing the control plane endpoint in advance"
/kind feature

**Describe the solution you'd like**
CAPV, which uses the same bootstrap logic as CAPA, is unique in that vSphere does not have a native load balancer solution. This means that it's not possible to know the control plane endpoint until the first node in the cluster is booted and initialized. For example, in CAPV's model:

1. The bootstrap data for the initial control plane node is g

[2019-08-14 17:37] chuckha commented on #108
/milestone v0.1

[2019-08-14 17:37] chuckha commented on #111
/milestone Next

We can consider in the next cycle

[2019-08-14 17:38] chuckha commented on #112
/milestone Next

[2019-08-14 17:38] chuckha commented on #114
/milestone v0.1

[2019-08-14 17:39] chuckha commented on #123
/milestone v0.1

[2019-08-14 17:55] fabriziopandini commented on #125
/assign

[2019-08-14 18:16] neolit123 commented on #125
as @fabriziopandini mentioned during the CAPI call this is already supported.
the endpoint can be any FQDN, although the bootstrap provider has to be make sure that only a single CP node gets the privilege call `kubeadm init`. i saw a PR for that in this repo.

the cluster needs to wait for that CP node to finish and then the rest of the nodes *should* be able to join concurrently (CP nodes too).

[2019-08-14 18:20] akutz commented on #125
At what point do you update the kubeadm conf provider so it treats the IP address from the initial control plane node as the control plane endpoint used to generate the other kubeadm data for subsequent nodes?

[2019-08-14 18:23] rudoi opened #127 "Use controller-runtime client everywhere for consistency"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
In the reconcile logic in the tests we have both static and controller-runtime clients in play. We should standardize on the controller-runtime client, as it is awesome.

Basically the PRs for the bootstrap token logic and the cert generation logic were being worked at the same time, s

[2019-08-14 18:25] detiber commented on #127
I support this fully

[2019-08-14 18:26] chuckha commented on #127
yes, 💯

[2019-08-14 18:29] neolit123 commented on #125
the control-plane endpoint can technically be the FQDN of a load balancer which is fixed.
so it can be predefined even before `kubeadm init`, but the requirement would be that the load balancer serves traffic to a set of known IPs for the control-planes.

[2019-08-14 18:41] akutz commented on #125
Hi @neolit123,

The case I'm describing is one where **there is no load balancer**.

[2019-08-14 18:46] neolit123 commented on #125
not having a external load balancer is tricky, maybe there should be one?
the alternative is to use loadbalancer that runs an instance on each node (like keepalived, not sure how these types of LBs are called).

[2019-08-14 18:48] akutz commented on #125
That's the entire point of this issue @neolit123. It's not like CAPV can flip a switch. The kubeadm bootstrapper must support deploying clusters that don't have an external load balancer. CAPV supports it today, and unless the kubeadm bootstrapper supports it then CAPV will not and cannot move to v1alpha2.

cc @timothysc

[2019-08-14 18:50] neolit123 commented on #125
it's actually more-HA than a VIP load balancer, unless the VIP load balancer is managed by the cloud provider and the cloud provider guarantees that this LB will be always up.

[2019-08-14 18:51] akutz commented on #125
The cloud provider has nothing to do with the external load balancer for the API server. The cloud provider is for providing LBs for services.

Please understand that this issue is about:

* The external LB for control plane access
* Completely unrelated to the CPI
* Relevant for all on-prem environments that lack a native LB implementation

Let's not conflate issues or discuss points not germane

[2019-08-14 18:53] neolit123 commented on #125
given there is no LB, how does CAPV currently connect the rest of the control-plane nodes and worker nodes to the cluster?

[2019-08-14 18:54] akutz commented on #125
As I described it in the issue description:

[2019-08-14 18:56] neolit123 commented on #125
if the primary control-plane node fails where would the rest of the worker and control-plane nodes connect to? would that result in cluster failure?

[2019-08-14 18:58] moshloop commented on #125
The way in which https://kubespray.io/#/docs/ha-mode describe it is as `localhost loadbalancing`

Kubespray requires all the control node IP's to be known beforehand to setup the localhost loadbalancer,
I have setup something similar that I call `client-side load balancing` that uses an external consul cluster for master service discovery

In both these scenarios the kubelet, etc use `localhost` a

[2019-08-14 19:00] akutz commented on #125
Hi @neolit123,

I feel like perhaps you're unfamiliar with CAPV and the environmental constraints within which CAPV operates. I'd be happy to sit down and review CAPV with you sometime.

vSphere has no native LB support. That's why CAPV doesn't have support for HA clusters yet. Your observation is correct, but CAPV is operating within the parameters of what vSphere has to offer. We've discussed de

[2019-08-14 19:01] akutz commented on #125
This is not the problem domain. The problem domain is as described in the original description and clarified above:

[2019-08-14 19:01] neolit123 commented on #125
i guess this naming makes some sense, although the control-planes can still connect to a VIP instead of localhost.

[2019-08-14 19:07] neolit123 commented on #125
it's certainly presenting an interesting challenge.

[2019-08-14 19:07] moshloop commented on #125
For client-side loadbalancers, the **VIP is `localhost`** which is known in advance.

What this issue describes is a case where the **VIP is a DHCP assigned IP** not known until the first control plane endpoint is up.

This issue would likely require a new cluster phase e.g. "init" that allows the first control plane node to be created, but waits for the other control plane nodes until the first c

[2019-08-14 19:10] akutz commented on #125
Except it's not *that* interesting or unsolved. CAPV does this today by basically ensuring the control plane is online before any other node is allowed to join. Much like CAPA does. Andy and I solved it the same way. The only difference is that at the end of the the init phase, the IP of the first node is recorded and used as the control plane endpoint for the other nodes.

It's a solved problem s

[2019-08-14 19:17] moshloop commented on #125
This implies serial, synchronous provisioning of the machines which is not ideal

[2019-08-14 19:24] akutz commented on #125
Hi @moshloop,

It implies bringing up a *single* machine first, which is what *already happens with the control plane nodes anyway*.

[2019-08-14 19:46] fabriziopandini commented on #125
@akutz CABPK should already support your requirement and more specifically

CABPK will start to use cluster.APIEndpoint as soon as it is available, and this can happen in two moments, depending on the infrastructure provides specific implementation:
- before setting InfrastructureReady (e.g. a cloud provider with LB)
- before setting controlplaneReady (your use case)

FYI, this is the workflow cur

[2019-08-14 20:28] andrewsykim commented on #125
@moshloop commented on your client-side loadbalancing comment here https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/245#issuecomment-521404254, let's continue that discussion there.

@fabriziopandini, sorry if I'm missing anything here, I'm still learning about v1alpha2:

I'm curious why ^ this check happens at `InfrastructureReady` check and not the `ControlPlaneReady` check

[2019-08-14 21:02] ykakarap commented on #116
Test results:

By using a CAPV image that reverts kubernetes-sigs/cluster-api-provider-vsphere#474 `clusterctl` is NOT able to create a management cluster on vSphere.
A VM is created on vSphere but looks like there is an issue with kubelet on that VM.

Relevant kubelet logs:
[code]

Relevant section of `/var/run/cloud-init/instance-data.json`:
[code]

Relevant section of `/tmp/kubeadm.yaml`:
[code

[2019-08-14 21:16] fabriziopandini commented on #125
@andrewsykim
CABPK uses the cluster state machine in order to understand when it is legit to do `kubeadm init` or to do `kubeadm join`

`InfrastructureReady` (and not `ControlPlaneReady`) --> time for `kubeadm init` (all the join request are requeued)
`InfrastructureReady` and `ControlPlaneReady` --> time for `kubeadm join` (all the init request are rejected)

The case you highlighted, is a suppor

[2019-08-14 21:38] chuckha opened #129 "Args cannot be set properly with kustomize"
/kind bug

**What steps did you take and what happened:**
The manager_auth_proxy_patch sets args which overrides the args set in manager.yaml due to the strategic merge strategy.

One way to clean this up would be to only set args in the manager_auth_proxy_patch. Another might be to add `patchJson6902` to the kustomize.yaml and have a new patch that adds arguments to the manager image.

**What did

[2019-08-14 21:40] chuckha commented on #129
/lifecycle active

[2019-08-14 22:30] ykakarap commented on #121
[This comment](https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/issues/11#issuecomment-520843144) suggests that we add the field now.

In this issue do we only want to add the `Format` field to `KubeadmConfig.Spec` or also add some utility around that field, like read the `Format` field and create an appropriate data generator(?) which in this first implementation will def

[2019-08-15 06:41] moshloop commented on #125
This is the problem, as adding more control plane nodes is precisely what is required, but perhaps this is kubeadm issue instead?

Creating a fully HA cluster without an external service would be possible only if this issue is resolved.

e.g.
1. Create `control plane 1`
2. Set `controlPlaneEndpoint` to `control plane 1`'s ip
3. Create `control plane 2-3` which use's the single IP to form a gossip

[2019-08-15 11:14] fabriziopandini commented on #125
@mishloop
Gossip based cluster, metalLB, external dns IMO are out of the scope of both kubeadm and CABPK

[2019-08-15 11:18] moshloop commented on #125
I agree for kubeadm, but not for CABPK, CABPK doesn't need to configure or manage these, but it shouldn't prevent them either.

[2019-08-15 14:21] detiber commented on #121
@ykakarap The minimum requirement for the feature to be available during the v1alpha2 time frame is that the field is added, since we will not be able to modify fields after the v1alpha2 cut until we start on v1alpha3.

That said, I would not object to the utility work being done prior to the v1alpha2 cut, it just isn't mandatory.

[2019-08-15 15:12] akutz opened #131 "Support for machines images with pre-pulled container images from non-standard repos"
/kind feature

**Note**: This issue could also have been filed to the the [kubernetes-sigs/image-builder](https://github.com/kubernetes-sigs/image-builder) repository.

**Describe the solution you'd like**
Machine images built from the [CAPI image builder](https://github.com/kubernetes-sigs/image-builder/tree/master/images/capi) contain pre-pulled container images for the following components:

*

[2019-08-15 15:25] detiber commented on #116
hmm, that output leads me to believe that the hostname is initially set to the fqdn (or possibly the ds.meta_data.local-hostname value) when the kubelet bootstrapping was initially started, and at some point later changes to the hostname defined in /var/lib/cloud/data/set-hostname.

@akutz are there possibly two processes trying to set the local hostname based on those different values?

[2019-08-15 15:43] akutz commented on #116
Hi @detiber,

It's absolutely the case that `ds.meta_data.local-hostname` is modified once the network is online. Initially it would just be the host name sans domain, but once the networking is online, the network info is discovered again and then persisted back to `instance-data.json` to ensure the local IPv4 and IPv6 addresses are included.

[2019-08-15 15:46] akutz commented on #116
What's interesting to me is that the instance ID is `management-cluster-controlplane-1`. That's also the machine name, and thus the host name. The DHCP server is completely overriding the entire host name with a new host FQDN instead of just appending an advertised domain. In other words:

The host name changes from

`management-cluster-controlplane-1`

to

`sc-rdops-vm06-dhcpv6-16d0.eng.vmware.co

[2019-08-15 15:51] detiber commented on #116
@akutz based on the output of the kubelet logs, it looks like it is indeed changed to `sc-rdops-vm06-dhcpv6-16d0`, which is also the value returned from `hostname` and `hostnamectl` as indicated in the output above.

That appears to be happening after the initial change from `management-cluster-controlplane-1` to `sc-rdops-vm06-dhcpv6-16d0.eng.vmware.com`, though.

[2019-08-15 15:55] akutz commented on #116
Hi @detiber,

I'm sorry, I meant it wasn't ever just `sc-rdops-vm06-dhcpv6-16d0` before knowing about the FQDN.

The way the host name commands work and are invoked in the cloud-init sources do show how the host name is set multiple ways in https://github.com/cloud-init/cloud-init/blob/2f3bb764626b9065f4102c7c0a67998a9c174444/cloudinit/distros/__init__.py#L218-L347.

What's happening is the hostna

[2019-08-15 15:57] akutz commented on #116
I think what we actually need to do is update the vSphere cloud-init datasource [here](https://github.com/vmware/cloud-init-vmware-guestinfo/blob/master/DataSourceVMwareGuestInfo.py#L132) to ask cloud-init to update the hostname to ensure the host files are updated before kubeadm is run. This ensures that calls to `gethostname` return the correct values because they will no longer be out of sync w

[2019-08-15 15:58] akutz commented on #116
Hmm, that or do not let [this](https://github.com/vmware/cloud-init-vmware-guestinfo/blob/99442e7ab784561c116caae54fe3a0c4a947a207/DataSourceVMwareGuestInfo.py#L138) line overwrite the hostname that was provided via the metadata.

[2019-08-15 16:15] ykakarap commented on #116
This will make sure that the hostname of the VM is always the machine name (like `management-cluster-controlplane-1`).
(FYI, I already tried this fix and it works)

Or, we can make sure to update the hostname properly before kubeadm runs as suggested here

I think the choice boils down to if we want the machine's hostname to be the machine name or the FQDN.

I would vote for the hostname being set

[2019-08-15 16:33] randomvariable commented on #101
FWIW, CentOS 7 and Amazon Linux 2 use chronyd by default. The ntp module for cloud-init does support all of the distros, but all of the cloud-init based images will need to standardise on ntp.

Logged supporting issue at https://github.com/kubernetes-sigs/image-builder/issues/20

[2019-08-15 16:54] chuckha opened #132 "Manager has incorrect permissions"
/kind bug

**What steps did you take and what happened:**
[code]

**What did you expect to happen:**
I expect this to succeed.

To solve this issue, you'll have to modify the RBAC rules at the top of the controller and regenerate the manifests:

https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/blob/master/controllers/kubeadmconfig_controller.go#L60

**Anything else you wou

[2019-08-15 17:14] chuckha opened #133 "Support cert-manager by having 1 cert per secret"
/kind feature

Instead of having multiple certs per secret we want to be able to support cert-manager by having 1 cert per secret

/assign @moshloop
/milestone v0.1
/priority important-soon

[2019-08-15 17:23] dennisme opened #135 "Modify cert secret to be 1 secret per cert"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
In  https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/pull/126 certificate generation and secret lookup was added to the bootstrap controller. We had a discussion on the secret format related to cert-manager. In order to support cert-manager we will need 1 secre

[2019-08-15 17:25] chuckha commented on #135
I opened #133 to address this -- happy to keep yours instead, but we should close one of them

[2019-08-15 17:32] chuckha commented on #135
let's keep this one

[2019-08-15 17:32] #133 closed

[2019-08-15 17:32] chuckha commented on #133
closed as duplicate

[2019-08-15 17:32] chuckha commented on #135
/milestone v0.1
/assign @moshloop
/priority important-soon

[2019-08-15 17:58] #74 closed

[2019-08-15 18:12] #129 closed

[2019-08-15 18:42] #114 closed

[2019-08-15 20:17] akutz commented on #116
Hi @ykakarap,

The problem with this, and correct me if I'm wrong @detiber, is that a DHCP server sets the [host name](https://tools.ietf.org/html/rfc1533#section-3.14) option, the client (machine), unless configured not to, will use that name.

This is once again a problem unique to the on-prem providers since the AWS instance data sets the host name to the actual name the host will have since th

[2019-08-15 20:18] detiber commented on #116
I'm not sure how cloud provider integration works with CAPV, but in at least AWS and OpenStack we are limited in what the Node "Name" can be based on what is expected by the cloud provider integration to match with queries against the remote API.

[2019-08-15 20:19] akutz commented on #116
That's not the issue here. It's that the DHCP server is overriding the host name.

[2019-08-16 02:39] SataQiu commented on #132
Is anyone doing this now? I'm willing to pick it up. :smile:  @chuckha

[2019-08-16 03:00] SataQiu commented on #127
Agree!

[2019-08-16 04:34] #132 closed

[2019-08-16 14:10] detiber opened #138 "Improve control plane init lock handling"
/kind bug

**What steps did you take and what happened:**
Liz incorporated some improvements to the lock handling in CAPA for v1alpha1, we should incorporate some of those changes (such as recording the Machine name in the lock). The CAPA PR implementing this is here: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1002

/priority important-soon
/milestone v0.1

[2019-08-16 14:41] chuckha commented on #125
@akutz I have some thoughts here but I'd like to better understand the problem.

This is how I see it working, it's all supported today, so I'd like to know what I'm missing:

1. Create the YAML necessary to stand up a control-plane node.
2. Apply YAML to the management server
3. Wait for the control plane to come online. CAPI will record the APIEndpoint of this control plane.
4. Create more kubea

[2019-08-16 14:45] chuckha commented on #121
This issue is only around adding the field `Format` to the `Spec`.

Additional issues should be filed to implement the work as we haven't discussed what "the work" actually is yet.

[2019-08-16 15:37] akutz commented on #125
Hi @chuckha,

Sí.

Sí.

Sí.

Sí.

Sí.

Sí.

You nailed it. Although, wouldn't it be nice if there were diagrams to help understand the workflow. Oh, wait, there are. Basically because I myself couldn't keep track of it without pretty pictures :)

**Cluster admission - cluster loop**

![Cluster admission - cluster loop](https://raw.githubusercontent.com/kubernetes-sigs/cluster-api-provider-vsphere/

[2019-08-16 15:46] akutz commented on #125
Thank you @chuckha and @fabriziopandini for confirming support!

/close

[2019-08-16 17:16] #99 closed

[2019-08-16 19:19] ericzhang08 commented on #127
/assign

[2019-08-16 19:19] ericzhang08 commented on #127
/lifecycle active

[2019-08-16 21:48] #108 closed

[2019-08-18 10:57] fabriziopandini commented on #78
/lifecycle active

[2019-08-19 15:21] fabriziopandini opened #143 "Remove createKubeconfigSecret"
/kind bug

**What steps did you take and what happened:**
the call to `createKubeconfigSecret` assumes `controlplaneEndpoint` is known before creating the cloud-config for kubeadm init, but this is not always the case (e.g. CAPV).
We should move this out of CAPBK.

**What did you expect to happen:**
`createKubeconfigSecret` should be created by CAPI before setting BootstrapControlPlane ready annot

[2019-08-19 16:22] akutz commented on #131
/assign @fabriziopandini

Hi Fabrizio,

I'm assigning this to you to work with @figo on this.

[2019-08-19 18:29] rudoi opened #144 "Create KubeadmConfigTemplate types"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
A `KubeadmConfigTemplate` CRD/type for use with MachineDeployments/Machinesets.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-08-19 18:29] rudoi commented on #144
/assign
/lifecycle active

[2019-08-19 18:31] vincepri commented on #144
/milestone v0.1

[2019-08-19 18:55] ncdc commented on #78
Fixed by #141
/close

[2019-08-19 18:55] #78 closed

[2019-08-19 21:55] #144 closed

[2019-08-19 22:07] ykakarap opened #147 "Wiring up the Format field"
/kind feature

**Describe the solution you'd like**
A PR for adding the `Format` field to `KubeadmConfig.Spec` is open. This issue is to discuss how we want to use it in the controller.

**Anything else you would like to add:**
The `Format` field is used to specify the output format of the bootstrap data that the controller generates.

[2019-08-19 22:07] ykakarap commented on #147
/cc @chuckha @detiber @vincepri @fabriziopandini

[2019-08-20 15:59] dennisme opened #149 "Add OwnerRef to kubeconfig secret (can't delete it)"
/kind bug
/assign

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Create and attempt to delete kubeconfig secret.

**What did you expect to happen:**
Deleting the kubeadmconfig should delete the kubeconfig secret too.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

[2019-08-20 16:01] detiber commented on #149
@dennisme There was a discussion yesterday where there was consideration to move the management of the kubeadm secret to the cluster-api Cluster controller instead of here, see: https://github.com/kubernetes-sigs/cluster-api/issues/1274

[2019-08-20 16:16] ykakarap commented on #147
To consider while implementing: https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/pull/146#issuecomment-523087081

[2019-08-20 16:20] dennisme commented on #149
@detiber good point, I was debating on doing this just to speed up my local debugging as I create a tear down a bunch of clusters today.

[2019-08-20 18:05] #121 closed

[2019-08-20 19:09] ncdc commented on #41
RHEL 7.7 and 8.1, and presumably the corresponding CentOS versions when they are available, have cloud-init 18.5.

[2019-08-20 20:10] ncdc commented on #135
@moshloop do you have any updates on this?

[2019-08-20 20:15] moshloop commented on #135
I should have a PR submitted but the meeting tomorrow.

[2019-08-20 23:46] vincepri opened #157 "Add Spec.CloudProvider in KubeadmConfig"
/kind feature

**Describe the solution you'd like**
An optional field in the KubeadmConfig Spec called `CloudProvider` could be useful to implement default logic to set the `cloud-provider` flags in multiple places.

This is an example of a configuration to setup the first controlplane instance:
[code]

As you can see, the `cloud-provider: aws` option is repeated in multiple places. Bringing that

[2019-08-20 23:46] vincepri commented on #157
/milestone v0.1.x

[2019-08-20 23:47] vincepri commented on #157
/priority important-soon

[2019-08-20 23:47] vincepri commented on #157
/cc @fabriziopandini @chuckha @ncdc @detiber

[2019-08-21 00:00] detiber commented on #157
I'm not necessarily sure this is worth doing, since we said that we want to require external cloud providers for beta.

[2019-08-21 00:19] vincepri commented on #157
Wouldn't we have to set the `cloud-provider` flag to `external` as well? When we're set to migrate to the external cloud providers, we'll default the proposed field, `Spec.CloudProvider` to `external` but still allow users to overwrite it.

[2019-08-21 00:25] detiber commented on #157
@vincepri I'm not sure we would allow users to override it at that point.

One thing we discussed previously, which might make more sense than singling out cloud provider here was to let the infrastructure provider specify additional configuration that is merged with the kubeadm config.

[2019-08-21 00:29] vincepri commented on #157
That makes sense, I don't mind either way, after #156 the configuration is looking much better. This is definitely a nice to have 😊, we can always drop it after v1alpha2.

[2019-08-21 00:37] pickledrick opened #158 "Allow for a slight time skew with certificate data"
/kind bug

**What steps did you take and what happened:**
Using the pivot workflow from my local machine to a cluster far far away creating a cluster fails with:
[code]
Allowing for a slight skew to account for time differences allows this to work

**What did you expect to happen:**
The cluster bootstrap completes successfully

**Anything else you would like to add:**
[Miscellaneous information th

[2019-08-21 00:51] #158 closed

[2019-08-21 14:18] neolit123 opened #160 "enable staticcheck for this repo"
/kind feature
/priority backlog

k/k just enabled running staticcheck, while the k-sigs/kind repo had it for a while already.
you can check what k/k is doing in terms of skipping certain checks (if this repo has to).
see /hack/verify-staticcheck.sh in kubernetes/kubernetes.

we are enabling this for k/kubeadm/kinder too:
https://github.com/kubernetes/kubeadm/pull/1737

/help

mini-guide:
- create

[2019-08-21 14:46] SataQiu commented on #160
If nobody claims it, I will pick this up.
Wait a while for new contributors :-)

[2019-08-21 17:46] chuckha commented on #138
/assign

[2019-08-21 17:51] ncdc commented on #149
If we move the secret generation to CAPI, we can close this (and address the deletion/ownerRef in CAPI).

[2019-08-21 21:53] chuckha commented on #97
Update to the original issue and some offline discussion with @mytunguyen, we should follow CAPI's errors and use `ErrorReason` as the machine readable error and `ErrorMessage` as the human readable string.

[2019-08-21 22:41] joonas commented on #160
What about using [golangci](https://github.com/golangci/golangci-lint/) for this?

[CAPI](https://github.com/kubernetes-sigs/cluster-api/blob/master/.golangci.yml) and [CAPA](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/.golangci.yml) already have this configured for them, so using golangci would be nice for getting consistency across the various repositories

[2019-08-22 00:46] #97 closed

[2019-08-22 05:27] SataQiu commented on #160
/assign
/lifecycle active

[2019-08-22 13:44] #100 closed

[2019-08-22 13:44] #101 closed

[2019-08-22 17:02] chuckha commented on #52
/lifecycle active
/remove-help

[2019-08-23 08:35] fabriziopandini opened #168 "Add Support for Component Config configuration files"
/kind feature

**Describe the solution you'd like**
SCL is pushing the adoption of component config objects, and kubeadm already accepts `KubeletConfiguration` and `KubeProxyConfiguration` as part of its config file.
I would like to be able to use component config object with CABPK as well.

**Anything else you would like to add:**
The first possible approach to achieve this is to add `KubeletConf

[2019-08-23 08:41] fabriziopandini opened #169 "Rename type Files into File"
/kind bug

**What steps did you take and what happened:**
`KubeadmConfig` object contains a field `Files []Files` which I feel a little bit awkward considering that the `Files` type actually describes a single additional file.

**What did you expect to happen:**
The `Files` type be renamed into `File` (singular)

[2019-08-23 14:36] detiber commented on #169
Just wanted to add a note that since this affects the API types, this change could only land with a version targeting a new API version.

[2019-08-23 14:41] ncdc commented on #169
As long as this gets in before we release v1alpha2, we can do this, right?

[2019-08-23 14:54] SataQiu commented on #169
If no one claims it, I'd like to pick it up.
Wait a while for new contributors!
Feel free to self-assign :)

[2019-08-23 15:01] ncdc commented on #169
Please feel free to take it on

[2019-08-23 15:02] detiber commented on #169
Correct, just wanted to make it clear that if it didn't make the release it would have to wait for v1alpha3 :)

[2019-08-23 16:32] detiber commented on #168
I'm torn on this, if we just pass through without any type of validation, then we risk hard to debug errors.

That said, if we do add basic validation we still wouldn't have all the validation that is done on the backend and could still end up with hard to debug errors...

The question then begins just how easy do we want to make it for users to shoot themselves in their own foot?

[2019-08-24 13:58] SataQiu commented on #169
/assign
/lifecycle active

[2019-08-26 01:16] #169 closed

[2019-08-26 04:18] sbueringer opened #173 "Worker node files are not written"
/kind bug

**What steps did you take and what happened:**
With the current master version Files of worker nodes are not written into cloud-init (and therefore on the server)

**What did you expect to happen:**
Files are handled the same way as for control plane nodes

**Environment:**

- Cluster API version: master
- Cluster API Bootstrap Provider Kubeadm version: master
- Cluster API Infrastructu

[2019-08-26 12:50] #173 closed

[2019-08-26 18:47] joonas opened #175 "Make Manager SyncPeriod configurable via a flag"
/kind feature

**Describe the solution you'd like**

It should be possible to configure the [SyncPeriod](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/manager#Options.SyncPeriod) (how often watched resources are re-queued to be reconciled) that’s used to configure the [Manager](https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/blob/ad27480a10e7f449d1d96a76db7375e50a0

[2019-08-26 20:19] chuckha opened #176 "Add watches to remove some instances of requeuing"
/kind feature

**Describe the solution you'd like**
The KubeadmConfigReconciler should watch CAPI Machines and CAPI Clusters. It will requeue the one associated KubeadmConfig in the case of Machines and *all* associated KubeadmConfigs in the case of Cluster.

After that, Requeuing can be removed in the cases of nil machine and infrastructure not being ready:

* https://github.com/kubernetes-sigs/c

[2019-08-28 04:36] SataQiu commented on #176
I'd like to pick it up :-)
/assign

[2019-08-28 21:18] chuckha opened #185 "Remove CAPI Crds"
/kind feature

**Describe the solution you'd like**
If possible, it would be great to remove the config-capi directory. I'm not sure we need to create Clusters/Machines in our integration test. Another alternative is execing `go` to do what the script https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/blob/master/hack/update-capi-crds.sh does.

**Anything else you would like

[2019-08-28 21:18] chuckha commented on #185
/milestone next
/priority important-longterm

[2019-08-28 21:18] chuckha commented on #185
/milestone Next

[2019-08-28 21:28] chuckha commented on #175
/priority longterm-important
/milestone Next

[2019-08-28 21:29] chuckha commented on #168
/priority important-longterm
/milestone Next

[2019-08-28 21:30] chuckha commented on #135
/lifecycle active

[2019-08-29 00:36] detiber commented on #131
@akutz that was the image-builder portion, but we had also discussed having a way for users creating a cluster to not necessarily need to know what all kubeadm parameters needed to be overridden in the KubeadmConfig bootstrapping configuration.

[2019-08-29 07:06] fabriziopandini commented on #131
some initial work.
- we want to preserve the true origin of the custom images, not to mask by renaming with `k8s.gcr.io`.
- similarly, we want to preserve the tag of the custom images, not to mask by renaming with an upstream release tag.
- kubeadm can handle both if image repository and Kubernetes version are set
- preloading images in the CRI should be executed before running kubeadm init/join,

[2019-08-29 12:59] #160 closed

[2019-08-29 14:22] detiber commented on #131
@chuckha @akutz @fabriziopandini @figo @zjs Since we already have the image building foundation in place, I think we can isolate any additional changes needed to support streamlining UX for setting/defaulting the image configuration in the KubeadmConfig to just CABPK, and we still have a non-trivial problem to solve, I suggest that we **do not** block the initial v1alpha2 release on this issue and

[2019-08-29 15:16] chuckha commented on #143
This is just a tracking issue for https://github.com/kubernetes-sigs/cluster-api/issues/1274

[2019-08-29 15:59] #176 closed

[2019-08-29 16:55] #123 closed

[2019-08-29 18:48] chuckha commented on #131
Agreed with @detiber. In theory all the plumbing exists to allow custom image repositories but the experience for the user is quite bad. They have to know magic characters to type in in order for their cluster to work.

While this is entirely impractical I don't see it as blocking the initial release and this can be addressed in this kubeadm provider after the initial release. Worst case we have t

[2019-08-29 19:00] figo commented on #131
this is where bootstrap-provider-kubeadm plumbing is needed.

@chuckha  first of all, the default case does not change,
the customization case UX should not be too bad if it is one additional field to configure,  document from vendor should help to alleviate the problem (which they already doing anyway).

[2019-08-29 19:37] detiber commented on #131
Based on the feedback received, I'm going to bump this to v0.1.x and we can work out the rest of the logistics needed later.

[2019-08-29 19:49] chuckha commented on #131
Had a chat with @figo. Looks like the one of the problems is that kubeadm uses 3.1 as a hardcoded constant for the pause container. This is likely able to be addressed at the image build layer and potentially in Kubeadm itself.

[2019-08-29 20:42] akutz commented on #125
/reopen

[2019-08-29 20:45] detiber commented on #125
Are there any additional blockers for this, other than https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/issues/143?

[2019-08-29 21:07] vincepri commented on #125
See #190

[2019-08-30 03:44] joonas opened #192 "Pre/PostKubeadmCommands are not properly escaped"
/kind bug

**What steps did you take and what happened:**

I applied the following `KubeadmConfig` configuration:
[code]

Which resulted in the following `runcmd` being rendered and stored in the `.Status.BootstrapData`:

[code]

When this BootstrapData was executed by CAPD (that's the only provider I've tried with this so far), it resulted in the following error:

[code]

This in turn made the CA

[2019-08-30 04:34] sb1975 opened #193 "Steps to create cluster,machine,dockermachine"
/kind bug
Could it be clarified how the steps to create the cluster,machine should be executed.
Is that using the clusterctl command ? which yaml corresponds to which parameter in this case ?
./clusterctl create cluster --provider <provider> --bootstrap-cluster-kubeconfig <kubeconfig> \
  -c cluster.yaml -m machines.yaml -p provider-components.yaml -a addons.yaml

**What steps did you take and wha

[2019-08-30 12:21] detiber commented on #192
/priority important-soon

[2019-08-30 12:39] detiber commented on #193
/priority important-soon

[2019-08-30 15:03] #175 closed

[2019-08-30 19:00] #135 closed

[2019-08-30 19:27] joonas commented on #143
@chuckha @detiber now that https://github.com/kubernetes-sigs/cluster-api/issues/1274 has been addressed, can this be closed?

[2019-08-30 19:37] detiber commented on #143
Resolved by https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/pull/198
/close

[2019-08-30 19:37] #143 closed

[2019-08-30 19:50] ncdc commented on #125
Now that https://github.com/kubernetes-sigs/cluster-api/pull/1345 is in, is there anything else outstanding before we can close this?

[2019-08-30 20:03] vincepri commented on #125
@akutz Closing this for now, feel free to reopen if needed

/close

[2019-08-30 20:03] #125 closed

[2019-08-30 21:13] akutz commented on #125
Hi @vincepri,

Thank you. @ykakarap should be testing this this afternoon. I really appreciate you handling this!

[2019-09-02 19:34] akutz opened #201 "Do not single-quote additional commands"
/kind bug

**What steps did you take and what happened:**
Commands given to the cloud-init `runcmd` module are currently [single-quoted](https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/blob/e3b2bcf70c84fed5ca2e0030e5b96fef6ee6aa83/cloudinit/commands.go#L22):

[code]

This causes issues when strings inside the commands are themselves single-quoted. The above example *shoul

[2019-09-02 19:37] akutz opened #202 "Do not automatically encode additional file content as base64"
/kind bug

**What steps did you take and what happened:**
Because the kubeadm bootstrapper is encoding any additional files as base64 (https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/blob/e3b2bcf70c84fed5ca2e0030e5b96fef6ee6aa83/cloudinit/files.go#L31), the contents of the files are not getting interpolated with the cloud-init instance data, and thus we get files like thi

[2019-09-03 13:16] chuckha commented on #201
Closing as a duplicate:

https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/issues/192

Will add a note about quoting there since some quoting is required as per the docs. Anything that YAML would get confused by needs quotes.

[2019-09-03 13:16] #201 closed

[2019-09-03 13:16] chuckha commented on #192
https://cloudinit.readthedocs.io/en/latest/topics/examples.html#run-commands-on-first-boot

Indicates anything that yaml would consume/get confused by requires quoting.

[2019-09-03 13:20] akutz commented on #192
It's too much to expect people to quote things correctly IMO. This shouldn't be on the user. I think not single-quoting it and then formatting it with `%q` should be fine.

[2019-09-03 13:57] akutz opened #203 "There is no default CRI socket"
/kind bug

**What steps did you take and what happened:**
In CAPA v1alpha1 the containerd socket [was selected](https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/863) if no other CRI socket was specified. This [is planned](https://github.com/akutz/cluster-api-provider-vsphere/tree/feature/no-default-cri-socket) for CAPV 0.4.2 (v1alpha1) as well. However, in the new Kubeadm Bootstrap

[2019-09-03 14:30] detiber commented on #203
@akutz I worry a bit here that we may be optimizing for v1.13 here vs optimizing for v1.14+, especially as we near the end of support for upstream v1.13 with the release of v1.16.

That said, I do think this highlights a certain class of regressions that were introduced in v1alpha2 compared to v1alpha1, which is that the bootstrapping provider no longer has direct communication with the infrastruc

[2019-09-03 14:31] detiber commented on #203
/priority important-soon
/milestone Next

[2019-09-03 14:34] ncdc commented on #202
/assign @chuckha
/lifecycle active
/milestone v0.1

[2019-09-03 16:12] chuckha opened #205 "Encode files based on their encoding"
/kind feature

**Describe the solution you'd like**
with the addition of https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/pull/204 users have a choice of file encoding. It would be nice if we automatically encoded files for them if the content was not encoded. This is tricky though because how can we tell if the content is encoded or not?

**Anything else you would like to

[2019-09-03 18:06] chuckha commented on #202
Closed by #204

[2019-09-03 18:06] #202 closed

[2019-09-03 18:17] chuckha commented on #149
Kubeconfig is no longer created by this provider.

/close

[2019-09-03 18:17] #149 closed

[2019-09-04 16:01] akutz commented on #205
Hi @chuckha,

You could possibly do something like [this](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/2da7433a4d9a74f4f1f78fcf5b1af6be06745fd9/pkg/cloud/vsphere/services/govmomi/extra/config.go#L61-L76).

[2019-09-04 16:05] detiber commented on #205
This might actually help with userdata size limits, especially if we ensure base64 and gzip as the output by default.

[2019-09-04 16:07] akutz commented on #205
The issue becomes the interpolation by cloud-init. However, I once did some tests, and it's much more efficient to leave everything plain-text and encode the bootstrap data than double-encoding the contents **and** the envelope

[2019-09-04 16:09] akutz commented on #205
This is from last year, but the results should still be relevant. It was even regarding cloud-configs.

[2019-09-04 21:48] chuckha commented on #127
I know @ericzhang08 is on vacation so I'm going to grab this one as it's blocking some test restructuring I'd like to do
/assign

[2019-09-05 15:09] chuckha opened #212 "should return without an error if no cluster is set on the machine"
/kind bug

https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/blob/cc2b1e48885f2f7bda4b8a3048b1c33367322a0f/controllers/kubeadmconfig_controller.go#L128-L132

**What steps did you take and what happened:**
As of today the reconciler returns an error if no cluster can be found for a machine. Instead, we should either requeue or simply return and try again later.

**What did y

[2019-09-05 15:17] chuckha opened #213 "Should not error if worker node does not have JoinConfiguration"
/kind bug

https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/blob/cc2b1e48885f2f7bda4b8a3048b1c33367322a0f/controllers/kubeadmconfig_controller.go#L258-L260

**What steps did you take and what happened:**
After the control plane is initialized and a worker gets created but that worker does not have a JoinConfiguration the reconciler returns an error.

**What did you expect

[2019-09-05 15:19] detiber commented on #212
I think this behavior definitely sounds reasonable. If we have watches on Machines and Clusters then logging and returning without an error would be good, since we'll re-reconcile once the Machine and/or Cluster are updated/created.

[2019-09-05 15:24] detiber commented on #213
Should we do this though? Maybe we should error if a Cluster or Init config is provided rather than ignoring?

[2019-09-05 15:25] detiber commented on #213
Yes, please

[2019-09-05 15:26] detiber commented on #213
I'm also wondering if we should default Cluster/Init configuration if one is not provided for the initial control plane instance?

[2019-09-05 15:26] chuckha commented on #213
Yeah, I think this was designed to allow the user to be quite lazy with their configuration. I don't have strong feelings on omitting a log or straight up erroring.

@fabriziopandini any thoughts here?

[2019-09-05 15:30] chuckha opened #214 "Testing for expected behaviors"
/kind feature

**Describe the solution you'd like**
We've done a decent job of testing very important behaviors but I'd like to add some more tests for a few more behaviors listed here:

⚠️ In order to view the [original document](https://docs.google.com/document/d/1g6xxhD_AFA4klrm87f7o0XpEtOOZfbSIat3ltKmbvrc/edit
) please join the [kubernetes-dev](https://groups.google.com/forum/#!forum/kubernete

[2019-09-05 19:38] chuckha commented on #214
/good-first-issue
/priority important-soon

[2019-09-05 20:57] hpandeycodeit commented on #214
I will work on `Return early if the owning machine does not have an associated cluster ` :)

[2019-09-06 07:23] fabriziopandini commented on #213
@chuckha @detiber

I'm ok with this (see also this issue https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/issues/112)

If we are going to generate a default JoinConfiguration, I don't see strong reasons for generating default Cluster/Init configuration as well

I'm personally in favor of strict validation, but lazy gives you the possibility to use the same configuration fo

[2019-09-06 13:34] chuckha commented on #213
That's really good to know.

 I'm ok with allowing all control planes to be defined with Init and Cluster configurations, mostly because that's what Kubeadm does.

However, if they are not the initial control plane then we should generate the JoinConfiguration for them.

Sorry @fabriziopandini I'm a little confused about this line:

Are you in favor of generating default Cluster/Init configuration

[2019-09-06 14:07] detiber commented on #213
As a side note, also in kubeadm we reverted to lazy because people were using a single file with all the objects for all the nodes.

My major worry here is not that someone provides the same configuration to all Machines, but rather that they provide a different configuration to an additional Machine and expect that it would mutate the config of the existing Cluster.

[2019-09-06 14:29] Xenwar commented on #214
Do I take 'Uses existing certificate secrets' ?
thanks.

[2019-09-06 14:31] chuckha commented on #214
@Xenwar Sure thing! let me know if you have any questions or need help, I'm `@cha` on the k8s slack.

[2019-09-06 14:43] sb1975 commented on #214
Reg this Test :  Return early if the cluster’s infrastructure is not ready (TODO)
Does it mean I need to validate that the infrastructure like the KIND k8s cluster(or any other provider master/bootstrap cluster is ready) before a tenant(workload) cluster can be created ?
That is there should be an error at early stage when we try to create a workload cluster if these infrastructure components(Can

[2019-09-06 15:08] chuckha commented on #213
@detiber that is a good point. Different configurations would not be good.

 Without adding aggregation/ensuring that the configs are the same, the only thing we can really do here is fail on secondary control planes with Init/Config. I'm ok with this approach.

[2019-09-06 15:12] chuckha commented on #214
@sb1975 The scope of these tests all fall within the [Reconcile function](https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/blob/cc2b1e48885f2f7bda4b8a3048b1c33367322a0f/controllers/kubeadmconfig_controller.go#L89)

In short, I want to ensure this path is followed https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/blob/cc2b1e48885f2f7bda4b8a3048b1c333

[2019-09-07 14:50] SataQiu commented on #214
I'd like to work with
[code]

[2019-09-09 12:57] fabriziopandini commented on #213
So, if I got this right,
- If join configuration is missing, we are going to generate a default one.
- If secondary control plane nodes have Init/Cluster config, we are going to fail
Right?

[2019-09-09 14:31] detiber commented on #213
@fabriziopandini that and:
- if init/cluster config is not found on initial control plane, generate a default one.

Is my understanding, at least.

[2019-09-09 14:38] vincepri opened #215 "Patch fail first time a new config is generated"
/kind bug

**What steps did you take and what happened:**
Create a new Machine with a KubeadmConfig, the first time the config is patched, the reconciler fails with the following validation error.

E0909 02:00:09.747915       1 controller.go:218] controller-runtime/controller "msg"="Reconciler error" "error"="KubeadmConfig.bootstrap.cluster.x-k8s.io \"test1-controlplane-0\" is invalid: []: Invalid

[2019-09-09 14:44] chuckha commented on #214
@SataQiu Excellent, thank you!

[2019-09-09 14:45] chuckha commented on #214
I'm going to pick up

[code]

[2019-09-09 16:07] chuckha commented on #215
/assign

[2019-09-09 17:19] chuckha opened #217 "CA Secret causes cluster to stop provisioning"
/kind bug

Original author: @rbankston

**What steps did you take and what happened:**
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/557

Provisioned an external etcd cluster for use with a CAPV cluster and loaded the certificate authority key and certificate used for etcd in the namespace with the -ca secret with the same label. The controller fails to move on with the pr

[2019-09-09 17:20] chuckha commented on #217
/assign
/lifecycle active

[2019-09-10 06:25] mikkosest commented on #214
Can I take "Triggers a reconcile for an associated KubeadmConfig when a Machine that references it is modified (TODO)" ? BR Mika

[2019-09-10 13:33] chuckha commented on #214
@mikkosest yes, absolutely!

[2019-09-11 10:57] kashifest commented on #214
@chuckha  I am interested to take "Return early if the cluster’s infrastructure is not ready"

[2019-09-11 19:33] chuckha commented on #212
/assign @kashifest

[2019-09-11 19:33] chuckha commented on #212
/lifecycle active

@kashifest is working on this

[2019-09-11 19:47] chuckha commented on #214
@kashifest spoke offline and he's going to pick up a different issue,  #212 to be exact

[2019-09-11 20:31] chuckha opened #223 "Extract golint into a tool in hack/tools"
/kind feature

**Describe the solution you'd like**
The golint tool is used to lint our codebase. It's being installed in a tempdir but it should follow the existing pattern of tools.

The hack/verify-golint.sh file should not be doing any of this:

https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/blob/23205b40552da0c99f822458aa02a97df583d5e4/hack/verify-golint.sh#L39-L50

[2019-09-11 20:31] chuckha commented on #223
/help

[2019-09-11 20:35] chuckha commented on #223
/good-first-issue
/remove-help

[2019-09-13 14:38] chuckha opened #227 "MachineWatch is wrong"
/kind bug

**What steps did you take and what happened:**
In the process of going through #214, @mikkosest discovered our machine watch is incorrect. It is using `util.MachineInfrastructureRef` when it should not be using that but should be checking for BootstrapRef instead.

@mikkoset will be writing a test and a new MapFunc to fix this behavior

Thanks so much!!

/assign @mikkoset
/lifecycle act

[2019-09-13 16:44] #212 closed

[2019-09-14 02:46] mikkosest commented on #227
I will start with this

[2019-09-14 19:23] detiber opened #228 "Manager should report only running against a single namespace"
/kind feature

**Describe the solution you'd like**
Manager should report only running against a single namespace

**Anything else you would like to add:**
This would align with other controller managers for Cluster API

/priority important-soon
/milestone v0.1.x

[2019-09-14 19:46] #228 closed

[2019-09-16 06:06] mikkosest commented on #227
/assign @mikkosest

[2019-09-16 15:24] fabriziopandini commented on #59
WRT to kubeadm, in order to support this use case it should be defined how to make it available:
1. the list of etcd endpoints (this can go via exposed kubeadm config)
2. The etcd CA certificate (this can go via files or via secrets).
3. The client certificate for the API server to access etcd (this can go via files or via secrets).

CABPK should detect this case and do not create a new Etcd CA -

[2019-09-16 15:34] fabriziopandini commented on #217
@chuckha @rbanksto A question better understanding expectations for this use case.
In case of external etcd kubeadm expect the user should provide a certificate for the API server to access the API server.
Are we assuming:

1) the user should pass this certificate using another secret and then CABPK to move it to the cloud init script
2) CABPK should take care of generating this certificate (if no

[2019-09-16 16:39] rbankston commented on #217
@fabriziopandini
1)  I would expect CABPK to move the secret to the cloud init script and bootstrap the node with that certificate.
2) If an external CA is in use but only the CA secret is set, use the provided CA to generate the rest of the certificates.

[2019-09-16 23:39] chuckha commented on #59
@fabriziopandini I was just playing around with this! 💯 to what you said. I came to the same conclusion.

We support 1 and 2 but we must add support for the api-server-client-cert (3). This will be another file that we can write.

[2019-09-17 13:58] chuckha opened #233 "Control plane init unlocking is happening in the wrong spot and is too noisy"
/kind bug

The control plane init locker unlock call happens in [EVERY case](https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/blob/46acfbd87f80e1de985d5ece090be0197823d226/controllers/kubeadmconfig_controller.go#L165) when it should only happen in the[ control plane initialization code](https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/blob/46acfbd8

[2019-09-17 14:03] chuckha commented on #233
cc @lokicity

[2019-09-17 14:11] fabriziopandini commented on #213
/lifecycle active

[2019-09-17 14:23] chuckha commented on #233
It appears #232 is already open

/lifecycle active
/assign @accepting

[2019-09-17 14:31] chuckha commented on #213
/assign @fabriziopandini

[2019-09-17 17:36] angarg commented on #131
I wonder if building on top of https://github.com/kubernetes/enhancements/pull/1159 is a way to get this behavior? In that request, a user of kubeadm would supply a kustomize directory structure for customizations to be applied to the static manifests that kubeadm generates. If our provider image contained a location of our kustomization overlays, and if the kubeadm call used it, then could that p

[2019-09-17 18:25] Lokicity commented on #233
@chuckha @accepting Thank you for looking at this issue. In my case, looks like the code stuck at ```I0917 06:18:06.486453       1 control_plane_init_mutex.go:112] init-locker "level"=0 "msg"="Control plane init lock not found, it may have been released already" "cluster-name"="capi-quickstart-bar" "configmap-name"="capi-quickstart-bar-lock" "namespace"="bar" ``` and the worker node is unable to b

[2019-09-17 20:11] chuckha commented on #233
@Lokicity That log line can be ignored and should not be the thing preventing workers from joining or being created. Are you able to look at the cloud-init logs for the control plane? Perhaps is not being created correctly or it is unable to join nodes for some other reason?

[2019-09-18 06:26] SataQiu commented on #223
Hi @chuckha Is anyone doing this?
I think I can help with this.

[2019-09-18 09:05] fabriziopandini commented on #59
from https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/issues/217#issuecomment-531858072

So if I got it right, in case of external etcd:
- CABPK should check for a new secret for 3 holding the client certificate for the API server to access etcd;
- if the certificate does not exists, CABPK should create it using The etcd CA certificate as a Certificate Authorithy
- finally

[2019-09-18 17:16] chuckha commented on #59
In the case of external, kubeadm won't be creating the apiserver certs. We only need to provide the CA Cert, not the key along with the apiserver-client key & cert.

To recap:

1 secret:

[code]

[2019-09-18 18:41] #227 closed

[2019-09-19 13:09] #217 closed

[2019-09-20 03:36] SataQiu commented on #215
/cc

[2019-09-22 04:56] accepting commented on #213
I have a suggestion here.
- If secondary control plane nodes or worker nodes have Init/Cluster config, we set them as nil with corresponding warnings.
- If initial control plane has Join config, we set it as nil with corresponding warnings.

What do you think?@fabriziopandini @chuckha @detiber

[2019-09-23 07:56] fabriziopandini commented on #213
@accepting please correct me if I'm wrong, but I'm not sure what are you proposing work in use cases different than yours where all the KubeadmConfig have Init/Cluster/Join configuration.

fi. if the user is providing:
a) a KubeadmConfig object specifically configured for init
b) a KubeadmConfig object specifically configured for joining a second control plane

If b is processed as first:
- the jo

[2019-09-23 11:11] fabriziopandini commented on #59
🤔

[2019-09-23 13:34] chuckha commented on #59
To add a little more context to my comment, please see [the `ExternalEtcd` kubeadm object](https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2#ExternalEtcd). The CAFile is the ca.crt and the cert/key are the apiserver client cert/key.

I will open a PR to kubeadm to improve the documentation and make this more obvious.

[2019-09-23 13:55] #223 closed

[2019-09-23 14:07] chuckha opened #243 "Add a test for patch behavior"
/kind feature

**Describe the solution you'd like**
There should be a test that tests the behavior of saving an object.

The expected behavior is that if there is an error in reconcile at any point no Patch will be issued.

If there is no error in Reconcile, then a Patch will be issued.

**Anything else you would like to add:**
This is something of a tricky test which is why I've not marked it as

[2019-09-23 14:21] ncdc commented on #59
We switched to 1 secret per cert or keypair (ca, etcd, front proxy, serviceaccount) just before releasing. The suggestion above combines the etcd ca with the etcd client cert and key. Is that ok, or should we consider using 2 secrets - 1 for the etcd ca, and 1 for the etcd client cert/key?

[2019-09-23 14:46] chuckha commented on #59
The reason behind that decision is that we didn't want to block anyone who wanted to integrate with cert-manager. The technical reason was that cert-manager generates one secret per certificate.

It would be good to re-use the etcd secret if we can an then also check for the apiserver-client cert/key.

I'm +1 on 2 secrets as you suggest.

[2019-09-23 15:16] chuckha commented on #213
I think this comes down to how control planes are configured.

If we give the same InitConfig, ClusterConfig and JoinConfig to every machine and mark some as control planes then the configmap lock prevents multiple `kubeadm init` calls. The first one that gets the lock runs a kubeadm init. In this case, once we have the lock, we set the Join configuration to nil and move on. The next reconcile loo

[2019-09-23 15:25] Migzlabasbas opened #244 "Not updated"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-09-23 15:33] vincepri commented on #213
Just chiming in a little here. I'd prefer to keep things explicit and avoid making users have to understand the way controllers work internally. A possible solution could be:

- A user has to set at least one control plane machine with `InitConfiguration` and `ClusterConfiguration`, there should be only one machine with these values set, all the others fail / are ignored.
- Any other machine may o

[2019-09-23 16:03] detiber commented on #244
Closing, since it looks like this was mistakenly filed.
/close

[2019-09-23 16:04] #244 closed

[2019-09-23 16:16] detiber commented on #131
@angarg longer term, yes. However, we would need to be able to support Kubernetes v1.(n-2).x where n is the latest supported Kubernetes release. Once that minimum supported version of kubeadm has support for kustomize patches, then we could start to rely on them.

[2019-09-23 17:55] rudoi opened #248 "bootstrap token can be expired even before infra exists"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

- Scale MachineDeployment to 12
- Get first machine / node successfully
- Subsequent Machines stuck in pending
- SSH to host and see unauthorized from `kubeadm join`

**What did you expect to happen:**

Successful kubeadm join.

**Anything else you would like to add:**
[Miscellaneous in

[2019-09-23 20:46] arttechindo opened #245 "1"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster API version:
- Cluster API Bootstrap Provider Kubeadm version:
- Cluster API Infrastructure Provider version:
- Ku

[2019-09-23 20:47] arttechindo opened #246 "2"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-09-23 20:47] arttechindo opened #247 "3"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster API version:
- Cluster API Bootstrap Provider Kubeadm version:
- Cluster API Infrastructure Provider version:
- Ku

[2019-09-23 20:49] #245 closed

[2019-09-23 20:49] #246 closed

[2019-09-23 20:49] #247 closed

[2019-09-23 22:32] comx2544 opened #249 "ต้องใช้สมอง"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-09-23 22:52] vincepri commented on #249
/close

[2019-09-23 22:52] #249 closed

[2019-09-24 17:57] chuckha commented on #213
@ncdc I haven't heard of any but I also don't have many points of data.

I'm in favor of being lenient to allow the "copy configs across every machine" since that is actually easier to implement and would help @accepting out, but I want to do a little more questioning of users to see how people are actually using this

[2019-09-24 18:41] chuckha commented on #213
let's not change behavior right now and have a discussion about behavior going forward so we can come to some agreement before implementing this change.

[2019-09-24 18:49] chuckha commented on #248
/priority important-soon
/milestone v0.1.x

[2019-09-24 18:49] chuckha commented on #248
/lifecycle active

[2019-09-25 07:30] SataQiu commented on #243
/cc

[2019-09-25 09:52] SataQiu commented on #243
/assign
/lifecycle active

[2019-09-25 13:21] Migzlabasbas opened #252 "Root"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-09-25 13:31] detiber commented on #252
/close

[2019-09-25 13:31] #252 closed

[2019-09-25 14:04] #243 closed

[2019-09-26 19:09] akutz opened #254 "Etcd data directory shouldn't be required"
/kind bug

**What steps did you take and what happened:**
The following `KubeadmConfig` resource illustrates using a custom image repository for a local etcd configuration. Please note only the relevant fields are shown below:

[code]

However, when submitting this resource via `kubectl`, the following error occurs:

[code]

Disabling validation and submitting the same resource the API server resu

[2019-09-26 19:14] akutz commented on #254
Related to https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/590

[2019-09-26 19:15] ncdc commented on #254
+1. The main reason we copied the kubeadm types into this repo was to make some adjustments around fields we wanted users to be able to omit.

[2019-09-26 19:27] chuckha commented on #254
it was more than minor adjustments, the controller-runtime generator did not work with default kubeadm types.

However it's been useful to keep them in-tree to mark some fields as optional to improve user experience without the defaulter, as mentioned in the issue.

This sounds good to me. We should audit the in-tree types to see if there are any other fields that don't default but say they will.

[2019-09-26 19:40] neolit123 commented on #254
i forgot the reasons for that. was it only the lack of ObjectMeta?

tracking issue for the kubeadm v1beta3 config, which might land in 1.17:
https://github.com/kubernetes/kubeadm/issues/1796

let's discuss any adjustments that this project requires.

[2019-09-26 19:41] chuckha commented on #254
no, it was the lack of `json` struct tags. I opened and fixed the issue in v1beta1 and v1beta2 upstream types already

https://github.com/kubernetes/kubernetes/commit/74ba11b0cd28f3aa5dcf9a79e0293eeca77c5f12

[2019-09-26 19:43] neolit123 commented on #254
can the upstream types be used now after this change?

[2019-09-26 19:45] akutz commented on #254
I wouldn't migrate to upstream types that rely on defaults until K8s 1.18 where 1.15 will be three versions old and have the server-side defaulters. I agree with @chuckha that having the types locally enables behaviors not considered for client-side only types.

[2019-09-26 19:54] chuckha commented on #59
/assign
/lifecycle active

[2019-09-26 19:58] neolit123 commented on #254
cc @rosti
xref https://github.com/kubernetes/enhancements/pull/1173#discussion_r308197372

[2019-09-26 20:25] ncdc commented on #59
@chuckha would you mind retitling this and updating the description w/the work you'll be doing around the certs/secret & such?

[2019-09-26 20:26] chuckha commented on #59
/retitle Improve user experience when using an external etcd

[2019-09-26 20:38] chuckha opened #255 "Does not support a custom pki directory"
/kind bug

**What steps did you take and what happened:**
Kubeadm allows for [custom CertificatesDir](https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/blob/master/kubeadm/v1beta1/types.go#L107), but we hardcode it to `/etc/kubernetes/pki`.

**What did you expect to happen:**
I expect CABPK to respect my kubeadm config.

this is not a super common feature from my experience

[2019-09-26 21:29] ashish-amarnath commented on #255
Where would the custom certificates dir be supplied for controlplane joins?
[CACertPath](https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/blob/master/kubeadm/v1beta1/types.go#L323) points only to the ca cert.

[2019-09-26 21:38] chuckha commented on #255
/assign
/lifecycle active

[2019-09-27 14:45] chuckha commented on #255
@ashish-amarnath to answer your question fully: This only applies to control plane nodes, not to worker nodes. Worker nodes only need the ca.crt file to work whereas the control plane needs the entire set of certs

[2019-09-27 15:21] dims opened #258 "Add support for overriding binaries in CABPK to avoid ansible usage"
/kind feature

context: CAPG CI job needs ansible currently and we would like to see if we can get away from it

Please see comments in https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/177#discussion_r329114154

[2019-09-27 15:26] detiber commented on #258
To elaborate on @dims comments, this is something that is less for a production-type use case, but is necessary for testing/CI use cases.

[2019-09-30 13:42] chuckha commented on #258
Overriding binaries like...the ones cloud-init might call? @detiber or @dims can you please add more detail about this issue? I didn't find the linked comment to provide satisfactory detail.

[2019-09-30 14:46] detiber commented on #258
@chuckha indeed, in general I'm thinking for e2e testing purposes we'd want to be able to override: `kubeadm`, `kubelet`, and `kubectl` at a minimum.

[2019-09-30 15:09] chuckha commented on #258
I think an example would help me understand this a little more fully. In the abstract yes, I totally agree, but in practice, I'm having trouble thinking about what these overridden binaries would do especially in an e2e test. We would no longer be e2e testing since we're mocking out/overriding the binaries we'd actually be using. This might be some other kind of testing.

However, it seems entirel

[2019-09-30 15:15] detiber commented on #258
@chuckha the purpose here would be more around Kubernetes e2e testing using Cluster API rather than e2e testing of Cluster API itself.

I think write_files doesn't currently fit the bill because it does not allow for writing files that are hosted remotely, only embedding the content directly into the cloud-init yaml.

[2019-09-30 15:17] chuckha commented on #258
we had something like this in the aws quickstart.

write a script that gets remote binaries and installs them in the right spot
use BeforeCmds to run that script before kubeadm gets called. This feels possible with the tools we have today even if not exactly straight forward.

[2019-10-01 17:37] #213 closed

[2019-10-01 20:41] #59 closed

[2019-10-01 20:41] #255 closed

[2019-10-02 02:02] vincepri opened #262 "Control plane nodes won't join on latest master"
/kind bug

**What steps did you take and what happened:**
Props to @dims awesome e2e testing coverage for GCP, we noticed that additional control plane machines never reach `running state`.

[code]

[2019-10-02 02:02] vincepri commented on #262
/assign @chuckha

[2019-10-02 13:20] chuckha commented on #262
/lifecycle active

[2019-10-02 14:11] chuckha commented on #262
Reproduced easily. It looks like everything works from the AWS console but the actual cluster does not have all the nodes that are created.

Using this YAML https://gist.github.com/chuckha/9d4ab8252709a426dbd493f603d9ac64

[2019-10-02 14:16] chuckha commented on #262
The issue is that we are trying to manage all the certs and we need three cases, control-plane init, control-plane join and worker join, but we only have 2 cases, control-plane init + worker.

They each have their own set of certificates they need and must be treated separately.

[2019-10-02 14:45] chuckha commented on #262
this is looking better :)

[code]

[2019-10-02 14:48] vincepri commented on #262
Nice!

[2019-10-02 17:52] ncdc commented on #254
Note from @timothysc - kubeadm v1beta3 types will make a similar change

[2019-10-02 17:54] ncdc commented on #258
@dims please see Chuck's comment above and let us know if you think there's any additional work we need to do. Thanks!

[2019-10-02 17:54] ncdc commented on #258
/assign @detiber

[2019-10-02 20:12] vincepri opened #264 "Split Reconcile in multiple logical sub-methods"
/kind feature

**Describe the solution you'd like**
The current `Reconcile` method has a lot of logic in it that could be extrapolated out in different reconciliation steps as sub-methods, which would also have the benefit of allow for more detailed unit testing.

[2019-10-02 20:16] #262 closed

[2019-10-02 21:43] dlipovetsky opened #265 "Show the actual kubeadm configuration applied to a machine"
/kind feature

**Describe the solution you'd like**
The typical kubeadm configuration generated by CABPK is minimal, and kubeadm applies many defaults, the values of which are not observable in any CAPI objects. Today, my options are to inspect `/tmp/kubeadm.yaml` on the machine, or fetch the kubeadm configuration from the cluster's control plane.

**Anything else you would like to add:**
Being ab

[2019-10-02 22:22] #248 closed

[2019-10-03 13:18] dims commented on #258
@chuckha @ncdc that works!

[2019-10-03 13:49] chuckha commented on #265
does `/tmp/kubeadm.yaml` provide all the data you want or do you want the full configuration with all the defaults applied?

[2019-10-03 13:58] chuckha commented on #264
/priority important-longterm
/milestone Next

I agree with the refactoring functions bit. I think we've finally gotten to a point where all the cases are clearly organized and factoring them out should not be very difficult.

I'm still inclined to only unit test the public functions (`Reconclie`) and set up state so we can control the execution path of reconcile. It requires a bit of DI, but from

[2019-10-03 14:00] detiber commented on #264
I like the idea of testing around Reconcile as much as we can, since we can more accurately test, verify enforcement, and validate the contracts and behaviors we define around providers that way.

[2019-10-03 14:02] detiber commented on #265
/tmp/kubeadm.yaml should be pretty much identical to the bootstrap data (with the exception of the jinja template expanded in the case of CAPA)

[2019-10-03 15:18] vincepri commented on #264
We should do both, it's hard to tell at this point if all the code paths are properly tested.

[2019-10-03 15:23] sethp-nr opened #266 "nil pointer dereference reconciling InitConfiguration"
/kind bug

**What steps did you take and what happened:**
Create a KubeadmConfig with only an InitConfiguration in its spec. It reconciles successfully the first time, but on subsequent runs it panics the controller:

[code]

**What did you expect to happen:**
The second reconcile to be a no-op.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the is

[2019-10-03 15:26] sethp-nr commented on #266
/assign
/lifecycle active

[2019-10-03 15:28] sethp-nr commented on #266
Something that would be good to hear from the original reporter is what other behaviors he's experiencing: since this shouldn't break until the second reconcile, I'd expect:

1. CABPK to enter a crash loop
2. The control plane to init successfully

Does that describe your experience @erstaples ?

[2019-10-03 15:40] #266 closed

[2019-10-03 16:47] erstaples commented on #266
@sethp-nr Yep, that's the behavior I saw. I'd get one control-plane node up before the CABPK pod enters a crash loop.

[2019-10-03 18:23] randomvariable opened #268 "Passthrough selected kubeadm flags"
/kind feature

**Describe the solution you'd like**
Kubeadm 1.16 introduced `kubeadm init --experimental-kustomize kubeadm-patches/` to allow customization of the static pods for certain environments. Is there a way that  this can be passed through to kubeadm, or allow arbitrary arguments to be appended to kubeadm init/join

**Anything else you would like to add:**
[Miscellaneous information that

[2019-10-03 18:41] chuckha commented on #268
Is this supported in any version of the config types?

My other thought is we could consider adding a "kubeadmFlags" section to the CABPK type, but I'd more hope everything on the CLI of kubeadm is exposed in the kubeadm types and we'll get this "for free" as we use the newer kubeadm config types

[2019-10-03 20:22] dlipovetsky commented on #265
Controllers have access to the workload cluster API. If the information is available in some object (e.g. a configmap) on the workload cluster API, then presumably a controller can pull it and update the KubeadmConfig status.

With this in mind:
(a) Can we get the info from objects kubeadm already posts? If not, then:
(b) Can we add a step to the bootsrap script that creates such an object? (e.g.

[2019-10-03 20:51] chuckha commented on #265
You could do that yourself today with `PostKubeadmCmds`!

[2019-10-03 22:15] randomvariable commented on #268
It's an experimental flag at the moment, and was introduced for high security environments who want to tailor the static pods delivered by kubeadm. It's the kind of thing that may remain a flag as it's an imperative operation and needs to refer to extra files on disk, which wouldn't survive translation into a ComponentConfig.

[2019-10-04 00:59] egernst commented on #266
/cc @krnsa1729 @mcastelino

[2019-10-04 12:13] detiber commented on #268
The one worry that I have with this approach is that adding command line arguments may introduce additional version specific requirements to config beyond which versions support the kubeadm config version we are using. This would massively complicate upgrade scenarios.

[2019-10-04 14:25] randomvariable commented on #268
Agreed. Haven't had a specific demand for the future yet, but the main use case this was to enable is switching the control plane so that it doesn't run as root.

Want to work out what the dependency is: Is there some generalisation we can make? Or even place demands on the interface with kubeadm, e.g. a kubeadm feature supported by CAPI can only be done so via ComponentConfig? I can see for examp

[2019-10-04 14:33] detiber commented on #268
This is definitely tricky...  If we do adopt this feature (as command line args), then I think we'd need to find a way to block upgrades for the cases where it is used to avoid version related command line argument compat issues that are disjoint from the api type support issues.

[2019-10-04 14:50] randomvariable commented on #268
Yup. Going to retitle this as "figure out long-term interface for static pod kustomizations with kubeadm". which may or may not also require changes to kubeadm.

[2019-10-04 14:51] randomvariable commented on #268
/milestone next
/priority important-longterm

[2019-10-04 14:53] detiber commented on #268
/milestone Next

[2019-10-04 16:41] chuckha commented on #65
If we EVER return an error to the reconciler we should log a stack trace at the KubeadmBootstrapProvider reconciler.

Then the error can be returned to the controller runtime controller which will log the error without the stack.

This will improve debugability of the logs. When users see a stack trace they can know it was an unexpected error. If we are ever in an error looping state that is a ser

[2019-10-04 16:56] wfernandes commented on #65
This also might be a good time to think about any relevant metrics that could be tracked. https://github.com/kubernetes-sigs/cluster-api/issues/1477

[2019-10-04 17:07] chuckha commented on #65
@wfernandes Please start a new issue to gather ideas for metrics to pay attention to. I don't want to bog down an issue marked as `good-first-issue` with extra details

[2019-10-04 17:23] chuckha commented on #215
`validation failure list:\nspec.clusterConfiguration.networking.dnsDomain in body is required\nspec.clusterConfiguration.networking.serviceSubnet in body is required`

We should make this a default if we can.

[2019-10-04 17:36] ncdc commented on #192
/assign
@noamran is going to work on this but she's not in the org yet
/lifecycle active

[2019-10-04 18:05] Lokicity opened #271 "CABPK controller contending lock with CAPI"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Running CABPK controller and CAPI controller in the same namespace. They are contending the leader elect lock

This is log from cabpk controller
[code]

**What did you expect to happen:**
They should both aqquire their own leader elect lock

**Anything else you would like to add:**
[Misc

[2019-10-04 18:06] Lokicity commented on #271
@vincepri @ncdc Thank you for taking a look

[2019-10-04 18:32] vincepri commented on #271
/lifecycle active
/assign

[2019-10-04 18:32] ncdc commented on #271
We need to expose the manager option's LeaderElectionID as a flag, `leader-election-id`

[2019-10-04 18:35] ncdc commented on #271
Or just set a unique id in the code

[2019-10-04 18:37] vincepri commented on #271
/cc @noamran

[2019-10-07 14:16] rudoi opened #274 "Deleting first controlplane Machine deletes cert Secrets"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
- Create HA cluster, 1.15.3
- Run the extremely experimental upgrade tool to get to 1.16 ;)
- First controlplane node is excellent
- Second controlplane node never comes online
- Check namespace
- mfw certificate Secrets are missing

**What did you expect to happen:**
~~A flawless upgrad

[2019-10-07 14:19] rudoi commented on #274
cc @amy

[2019-10-07 14:19] detiber commented on #274
Yes, this would likely be the issue...  The Secrets should likely be owned by the `Cluster` rather than the `KubeadmConfig`.

[2019-10-07 14:20] detiber commented on #274
/priority critical-urgent
/milestone v0.1.x

[2019-10-07 14:20] rudoi commented on #274
@detiber excellent, that's what I was thinking. I'll PR it.

[2019-10-07 15:22] chuckha commented on #274
@rudoi @amy and I worked on this issue on friday. Please use her new branch and this will not happen. The owner refs get modified to be owned by the new kubeconfig.

[2019-10-07 15:25] chuckha commented on #274
the ownership gets complicated if CABPK is creating stuff for a machine for a cluster that is then owned by the cluster. The certs are generated by data from the config not from the cluster. This means if you want to keep a cluster around but scale down to 0 control planes without deleting the cluster, you can end up with stale certificates that require manual intervention. If it's owned by the ku

[2019-10-07 15:26] ncdc commented on #274
What part can become stale? Aren't we generating certs with 10 year lifespans?

[2019-10-07 15:27] chuckha commented on #274
the serving cert SANs

[2019-10-07 15:35] #271 closed

[2019-10-08 17:46] vincepri commented on #274
Given that the linked PR has been closed, is there anyone working on a fix for this issue?

[2019-10-08 17:49] ncdc commented on #274
I think we should close this. If we need to, we can open a separate issue to debate if the KubeadmConfig or the Cluster should own the Secrets. I think, however, that I agree with Chuck that the way it's implemented with KubeadmConfig as the owner is correct.

[2019-10-08 18:00] chuckha commented on #274
/close

[2019-10-08 18:00] #274 closed

[2019-10-09 17:46] akutz commented on #131
ping @ncdc @vincepri @juan-lee

[2019-10-09 17:53] ncdc commented on #131
You can override this, but it's not pretty. You have to specify the args to the kubelet to set the `--pod-infra-container-image` flag.

[2019-10-09 18:08] ncdc commented on #131
I have a couple of thoughts around simplifying the UX. Some of them are covered in https://github.com/kubernetes-sigs/cluster-api/issues/1227. At this point I think I'm interested in researching two complementary approaches:

1. In the absence of a KubeadmConfig and/or an an infra machine (e.g. AWSMachine), a component could create these for you and wire them up to your Machine (and do the same th

[2019-10-09 20:20] fabriziopandini commented on #265
@dlipovetsky kubeadm already stores the Cluster Configuration in the `kubeadm-config` ConfigMap, is that what are you looking for?

[2019-10-09 20:28] dlipovetsky commented on #265
Thanks for pointing this out. Yes, ClusterConfiguration is good. I would also like the _actual_ (i.e. with all default values applied) InitConfiguration/JoinConfiguration used for the Machine.

(I'm about to file a related kubeadm issue)

[2019-10-09 20:38] detiber commented on #265
@dlipovetsky I'm not sure that is actually ever stored anywhere on disk, I believe it's all in-memory for the init/join workflows.

[2019-10-09 20:44] ashish-amarnath commented on #265
Would making kubeadm write the config out as a log message at a very high verbosity level be an acceptable fix for this?

[2019-10-09 20:44] dlipovetsky commented on #265
You're right.

But I think the information is useful to have, although we'll have to keep in mind that some values (e.g. the bootstrap token) are sensitive.

[2019-10-09 20:45] chuckha commented on #265
The problem is that kubeadm doesn't show default values nor does it write default values to disk at any point for us to write to a log.

[2019-10-09 20:46] chuckha commented on #265
Thankfully the kubeadm authors thought of this. JSONUnmarhsal functions are implemented for sensitive fields! For example: https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/v1beta2/bootstraptokenstring.go#L44

[2019-10-09 20:49] ashish-amarnath commented on #265
@dlipovetsky I meant we can make kubeadm write this out as a log message at a high verbosity level.
Like unmarshal the config structs and write them to the log.

[2019-10-09 20:53] chuckha commented on #265
oh I see what you mean...not that I'm aware of but I've been out of the kubeadm codebase for a hot minute

[2019-10-09 20:58] dlipovetsky commented on #265
My goal is to bubble up the config somewhere, e.g., to a KubeadmConfig object. It's a pain to parse it from a log, but trivial with a file.

[2019-10-09 21:06] neolit123 commented on #265
commented here:
https://github.com/kubernetes/kubeadm/issues/1829#issuecomment-540197491

[2019-10-10 13:41] chuckha opened #276 "[docs] external etcd doc improvement"
/kind documentation
/good-first-issue

Clean up the documentation to provide support for etcd clusters created with https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/. Right now the docs are etcdadm specific, namely the locations of certs. Be generic (say which certs  are needed) and then provide default location examples for etcdadm and kubeadm etcd

[2019-10-10 13:45] neolit123 commented on #276
s/kubeadm/kubectl/

[2019-10-10 13:46] chuckha commented on #276
yes, that's the one, thank you

[2019-10-10 18:14] ashish-amarnath commented on #214
@sb1975 I picked up

PR #277

[2019-10-10 18:45] ncdc commented on #52
@chuckha I think we can call this done (except for the automatically pushing to prod part, which we haven't done in any of our repos)?

[2019-10-10 18:47] chuckha commented on #52
for sure

/close

[2019-10-10 18:47] #52 closed

[2019-10-10 18:51] detiber commented on #41
Closing since this is now resolved with the latest images built in the image-builder
/close

[2019-10-10 18:51] #41 closed

[2019-10-10 19:23] chuckha commented on #11
@moshloop I think this is a documentation issue. Do you think you could help write up some docs, even briefly, about supported combinations that you've outlined in the original issue?

/assign @moshloop
/kind documentation
/priority important-longterm

[2019-10-10 19:24] chuckha commented on #12
This will be covered, at least at a cluster-api level by the testing CAEP (as of this comment this document is still early and hasn't been edited yet) https://docs.google.com/document/d/1SZkKoDok62eWHg5UVOmc96gW8KET69uNHZ4nWV0yyBs/edit

[2019-10-10 19:25] chuckha commented on #12
/remove-lifecycle stale
/milestone Next
/priority important-longterm

[2019-10-10 19:26] chuckha commented on #12
/remove-priority awaiting-more-evidence

[2019-10-10 19:26] chuckha commented on #13
Closing this as it's not well defined and no updates have been given

/close

[2019-10-10 19:26] #13 closed

[2019-10-10 19:31] chuckha commented on #14
we are starting to see some [CAPI cert-manager adoption](https://github.com/kubernetes-sigs/cluster-api/pull/1516), but I don't think this is the right repository for it. Let's revisit if there is more evidence that this is the right place for cert-manager. Alternatively it would be really cool if you could open a new issue that shows how cert-manager fits into this repo and we can discuss there.

[2019-10-10 19:31] #14 closed

[2019-10-10 19:36] chuckha commented on #102
@detiber since this is optional most users would probably not set it and if some users needed it then it would be there for them. Do you think simply exposing this is too much of a footgun or is it the right level of escape hatch for advanced users?

@akutz do you have any more context on this issue?

This seems like a totally reasonable request.

@zjs can you add a user story for this so I can ha

[2019-10-10 19:40] detiber commented on #102
My worry is that overriding the hostname can lead to unexpected and difficult to troubleshoot behavior when running with cloud-provider integrations. I'm not sure if this is lessened with external cloud providers.

I think we should attempt to avoid exposing this unless there is a clear user story that is only able to be handled through these means.

[2019-10-10 19:41] chuckha commented on #111
@moshloop my main concern here is that `konfigadm` is not a SIG sponsored project and would be a non trivial dependency on this project. I'd like to see `konfigadm` be owned by a group before we consider adoption.

/close

[2019-10-10 19:41] #111 closed

[2019-10-10 19:42] chuckha commented on #112
This is fixed

/close

[2019-10-10 19:42] #112 closed

[2019-10-10 19:44] chuckha commented on #116
@akutz can we close this?

[2019-10-10 19:45] chuckha commented on #127
/unassign
/remove-lifecycle active

This would still be good to do!

/good-first-issue

(i think this is a good first issue...)

[2019-10-10 20:25] chuckha commented on #185
This is trivial after the merge into CAPI.

/priority important-soon

[2019-10-10 20:28] chuckha commented on #193
/kind documentation

[2019-10-10 20:39] chuckha commented on #203
@akutz do you still need this for 1.13 support in v1alpha2?

[2019-10-10 20:39] chuckha commented on #205
/priority important-longterm

[2019-10-10 20:42] chuckha commented on #214
Let's close this, really nice work everyone!! Thank you all for your contributions!

/close

[2019-10-10 20:42] #214 closed

[2019-10-10 20:44] chuckha commented on #233
This got fixed by #232
/close

[2019-10-10 20:44] #233 closed

[2019-10-10 20:46] akutz commented on #203
Closing for #131. When a defaults mechanism is provided, it will solve this issue.

[2019-10-10 20:46] #203 closed

[2019-10-10 21:00] chuckha commented on #258
/close

@dims feel free to reopen if this ends up not working for you

[2019-10-10 21:00] #258 closed

[2019-10-11 07:26] tahsinrahman commented on #127
/assign

[2019-10-11 10:16] vishakhanihore commented on #276
/assign

[2019-10-17 17:39] ncdc opened #281 "Update README indicating this repo is only for v1alpha2"
We should update the README to indicate that this repo will only get bug fixes for v1alpha2, and new changes belong in CAPI proper.

[2019-10-17 17:40] #192 closed

[2019-10-17 17:54] chuckha commented on #281
on my todo. I'll bump prio

/assign
/lifecycle active

[2019-10-17 18:30] #281 closed

[2019-11-02 07:19] de13 opened #284 "can't add node-role label with JoinConfiguration"
/kind bug

/kind bug

**What steps did you take and what happened:**

[code]

Kubelet in unhealthy state when using this JoinConfiguration. I have the following error:

[code]

However, manually putting this label on the node works.

**What did you expect to happen:**

Node labeled with `node-role.kubernetes.io/worker=`

**Anything else you would like to add:**

Othe kind of labels works fine `foo

[2019-11-04 10:43] SataQiu commented on #284
Please take a look at this: https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/0000-20170814-bounding-self-labeling-kubelets.md#proposal

[2019-11-04 10:45] SataQiu commented on #284
You can use `role.node.kubernetes.io/worker=`

[2019-11-04 10:46] SataQiu commented on #284
/assign

[2019-11-04 12:28] de13 commented on #284
I've read the enhancements page, and also tried `role.node.kubernetes.io/worker=""` but this last one has no effect on node role:

[code]

So it should be nice to have node-role in the list of proposals.

[2019-11-04 15:02] chuckha commented on #284
This repo is deprecated. Please reopen the issue here: https://github.com/kubernetes-sigs/cluster-api if you feel this is in scope for cluster-api.

/close

[2019-11-04 15:02] #284 closed

[2019-11-13 21:53] ncdc commented on #193
@sb1975 are you still looking for an answer to this?

[2019-12-17 17:51] cjwagner opened #286 "k8s-ci-robot no longer has proper permissions on this repo"
/kind bug

[code]

"k8s-ci-robot does not have permission to add labels in this repository."

k8s-ci-robot should have permissions at the org level, but maybe they were manually revoked at the repo level? I'm not exactly sure how this could happen. @cblecker @stevekuznetsov do you know what might have happened or how we can prevent this?
cc @justinsb @detiber as repo OWNERS

[2019-12-17 18:30] cblecker commented on #286
This seems like an API level gremlin to me. Not only did @k8s-ci-robot add the bug label to this very issue, but it has owner permission (effectively root).

[2019-12-17 19:02] cjwagner commented on #286
Hmm, well if I see it again I'll open a support ticket with GH and send them the evidence.
/close

[2019-12-17 19:02] #286 closed

[2020-02-04 19:10] ncdc commented on #193
Closing due to age and because we are in the process of rewriting clusterctl from scratch, and this question is not applicable to the new version due to changes.

/close

[2020-02-04 19:10] #193 closed

[2020-02-18 16:40] rudoi opened #290 "preserveUnknownFields is set to true on CRDs"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
preserveUnknownFields is set to true. this makes updating to crd v1 difficult.

**What did you expect to happen:**
preserveUnknownFields to be false!

[2020-02-18 16:45] vincepri commented on #290
/priority critical-urgent
/help
/milestone v0.1.x

[2020-02-18 16:47] vincepri opened #291 "Backport spec.users.passwd should be optional/omitempty"
Relevant v1alpha3 commit: https://github.com/kubernetes-sigs/cluster-api/commit/4c5edd4a9298b2897173bfa1b3904b4cc11f051e

/kind bug
/priority critical-urgent
/help

[2020-02-18 16:51] vincepri commented on #291
We should also make sure that other fields marked optional have the omitempty tag properly set

[2020-02-18 16:54] nader-ziada commented on #291
/assign

[2020-02-18 16:54] nader-ziada commented on #290
/assign

[2020-02-18 16:55] vincepri opened #292 "Release CABPK v0.1.6"
Once fixes go in for #290 and #291 we should cut a release and publish new components.

/assign @chuckha
/priority critical-urgent

[2020-02-18 18:35] #291 closed

[2020-02-18 20:02] #290 closed

[2020-05-14 14:09] alanmeadows opened #295 "Improved access to the cloud-init interface"
/kind feature

**Describe the solution you'd like**
The kubeadm bootstrap provider should support additional cloud-init interfaces that are commonly used in production systems.

Today, only a few are supported: https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/blob/master/cloudinit/cloudinit.go#L34-L42

Even some of these options, for instance, NTP, do not support the full

[2020-05-14 14:11] ncdc commented on #292
We did this a while ago

[2020-05-14 14:11] #292 closed

[2021-02-08 11:14] fabriziopandini opened #298 "Import CABPK doc from the legacy repo"
Today I stumbled into https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm#bootstrap-orchestration, which IMO contains valuable insights on how CABPK works.

If there is consensus I would like to import such informations in the CAPI repo, TBD if as a readme in the bootstrap/kubeadm folder of if somewhere into the book (or both using include in the book)

/kind documentation
/m

[2021-02-08 11:14] #298 closed